<div id="{{roarevent.$id}}" ng-class="{'active': roarevent.isSelected}" class=" _info animated staggered slideLeft" style="margin:2.5px;">



    <div class="flex-top-row">


        <button  ng-href="{{roarevent.mediaUrl}}" ng-click="roar.show(roarevent)" class="rbutton " ng-class="{'active': roarevent.isSelected}">{{roarevent.rid}}</button>
        <h6 class="rflag" 
        data-context-menu="/llp_core/partials/contextmenus/roarcontextmenu.html"><strong>{{roarevent.title}}</strong>
                  <br><!--
                  <!-- <uib -ng-model="roarevent.rate" max="5" class="showonhover"></uib-rating> -->


                  </h6>
             <div class="panel r-action" layout="column" layout-align="space-between center" style="border-radius:5px;" >
                            <button clipboard text="roarevent.media" on-copied="toastr.success('copied!');" on-error="toastr.error(err,'uh oh!')"  class="rmodal fa {{roarevent.statusIcon || roarevent.icon || 'fa-bars'}} {{roarevent.statusIconStyle}}" uib-tooltip="copy media url" tooltip-trigger="mouseenter" tooltip-placement="right" style="background-color:transparent;border-width:0px;"></button>

                            <button id="empiretogglebutton" ng-class="{'btn-warning fa-futbol-o': roarevent.isSelected == false,'btn-flat fa-minus': roarevent.isSelected == null, 'btn-success fa-ge': roarevent.isSelected == true}" class="fade btn btn-default btn-xs fa  r-doc" ng-click="roar.toggleSelection(roarevent,$scope.$parent.$parent.collection)"></button>


                             <button class="fade btn btn-default btn-xs fa fa-copy r-doc" ng-click="roar.copytoclipboard(roarevent)" uib-tooltip="copy to clipboard" tooltip-trigger="mouseenter" tooltip-placement="left" ></button>

                            <button class="fade btn btn-default btn-xs fa fa-chevron-left text-primary" ng-click="roar.moveLeft(roarevent)" uib-tooltip="move left" tooltip-trigger="mouseenter" tooltip-placement="left"></button>

                            <button class="fade btn btn-default btn-xs fa fa-chevron-right text-primary" ng-click="roar.moveRight(roarevent)" uib-tooltip="move right" tooltip-trigger="mouseenter" tooltip-placement="left"></button>

                            <button class="fade btn btn-default btn-xs fa fa-remove r-delete" ng-click="roar.movetorecyclebin(roarevent)" uib-tooltip="remove" tooltip-trigger="mouseenter" tooltip-placement="left"></button>


                        </div>

    </div>
    <button  class="rlabel btn-{{roarevent.styleClass || 'dark btn-glass'}}" ng-href="/files/uploads/{{roarevent.$id}}.html" ng-click="roar.present(roarevent)"  ng-dblclick="roarevent.thumbnail | roarevent.mediaUrl" style="border-width:3px;" dynamic-background background-image="{{roarevent.thumbnail}}" background-size="contain" >
        <p class="cut-with-dots" style="max-height:10vh">{{roarevent.description}}</p>
    </button>
    
    <!--<button class="rlabel {{roarevent.styleClass || 'btn-dark btn-glass'}}" ng-if="roarevent.mimetype.indexOf('image') > -1" ng-click="roar.present(roarevent)" style="background-image: url({{roarevent.media}});background-size:contain;border-width:3px;text-overflow:ellipsis;">
        <p>{{roarevent.description}}</p>
    </button>-->
    <ng-transclude style="z-index:100">
      <uib-rating ng-model="roarevent.rate" max="max" rating-states="ratingStates" read-only="true" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['added','ocred','parsed','tagged','done']" aria-labelledby="default-rating" class="showonhover" ng-class="{'text-danger': (roarevent.rate == 1),'text-warning':(roarevent.rate == 2),'text-info':(roarevent.rate == 3),'text-primary':(roarevent.rate == 4),'text-success':(roarevent.rate == 5)}">
    <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}"  ng-show="overStar && !isReadonly">{{percent}}%</span></uib-rating>
    </ng-transclude>
<!-- 

</div>


