  <!--<input type="submit" class="btn btn-primary" >-->
<label class="badge bg-Applicant pull-right">{{roarevent.date | date}}</label>
<!--<form name="claimset" ng-submit="onSubmit(claimset)">-->
  <div class="col-sm-6 card card-Applicant" ng-repeat="claim in roarevent.claims" >
    <!--<p editable-textarea="roarevent.claims[$index]" e-pattern="/^\d+\./" e-rows="6" e-cols="80" e-required onbeforesave="roarevent.claims[$index] = $data;" ng-bind-html="claim | highlight: query | trustAsHTML"></p>-->
<textarea class="card-block" ng-model="roarevent.claims[$index]" ng-model-options="{updateOn:'default blur',debounce:{'default':5000,'blur':0}}" cols="250" rows="6"></textarea>
<a class="fa fa-close text-danger" ng-click="roarevent.claims[$index]=null"></a>
<br>
  <a ng-click="roarevent.claims.unshift('NewClaimText')" class="text-warning fa fa-plus"></a>

  </div>
  <!--</form>-->
