<blockquote class="" cite="{{phd.patent.media}}" style="margin: 25px;margin-top:35px;">
    <h4><strong ng-bind="tree.title"> </strong> - <small>{{tree.claim_total}} Claims</small>
</h4>
    <p ng-bind-html="tree.abstract | highlight: query | trustAsHTML"> </p>


    <cite>{{phd.patent.filename}}<a class="fa fa-external-link fa-border" ng-click="main.poppatent(phd.patent)" ></a></cite></blockquote>

<div class="row showscroll" style="margin: 5px 5px;overflow-x:scroll;">
    <a ng-repeat="link in tree.drawings" ng-click="main.pop(link)" class="btn" style="margin:2px;"><img ng-src="{{tree.thumbnails[$index]}}" class="img img-shadow" /></a>
</div>
<div class="row">
    <div class="col-sm-6">

        <fieldset class="material">
            <input id="patterninput" class="" ng-model="query" type="search" style="margin:10px;" ng-model-options="{updateOn: 'default blur',debounce: {'default':250,'blur':0}}">
            <hr>
            <label>Search</label>
        </fieldset>
        <a style="position:absolute;right:0;top:4;" class="btn fa fa-close" ng-click="query = null"></a>

        <div class="col-sm-3">
            <ul class="list-unstyled">
                <li>
                    <input type="checkbox" ng-model="highlight">
                    <small> Highlight exact matches</small>
                </li>
                <li>
                    <input type="checkbox" ng-model="dim"> <small>Hide non-matches</small>
                </li>
            </ul>
        </div>
        <div class="col-sm-3">
            <ul class="list-unstyled">
                <li ng-repeat="field in availableFields">
                    <input type="checkbox" ng-click="toggleSupport(field)" ng-checked="supportedFields.indexOf(field) > -1">
                    <small>Match <code>{{ field }}</code></small>
                </li>
            </ul>
        </div>
        <d3pendingtree id="a{{phd.patent.number || config.IPAYEAR + config.IPANUM}}" class="{{query}}" tree="tree" pattern="{{query}}" patent="{{phd.patent.number || config.IPAYEAR + config.IPANUM}}" style=""></d3pendingtree>


    </div>
    <div class="col-sm-6">
        <div id="info"></div>
        <div ui-tree="treeOptions" class="">
            <ol ui-tree-nodes max-depth="6" ng-model="tree.claims">
                <li ui-tree-node class="card card-block " ng-repeat="node in tree.claims " ng-include="'claim_renderer.html'" style="padding-right:0rem;padding-bottom:0.1rem;" ng-hide="!treeFilter(node, query, supportedFields) && dim"></li>

            </ol>
        </div>
        <script type="text/ng-template" id="claim_renderer.html">
            <div ui-tree-handle class="tree-node tree-node-content">
                <div class="tree-node-content flextoprow " style="position:relative;">
                    <a class="btn btn-xs pull-left" data-nodrag ng-click="toggle(this)" ng-if="node.children && (node.children.length > 0)"><span class="fa " ng-class="{'fa-chevron-right': collapsed, 'fa-chevron-down': !collapsed}" style="color:steelblue;transition:all 0.25s ease;"></span></a>
                    <!--<input type="text" ng-model="node.text" ng-change="node.$save();" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" style="padding: 0.5rem;color:#444;"  ng-if="config.editable">-->


                    <!--<a class="btn showonhover" data-nodrag ng-if="config.editable" ng-click="remove(this);"><span class="fa fa-close text-danger "></span></a>-->
                    <!--<a class="btn " data-nodrag ng-if="config.editable" ng-click="toc.newsubsection(this)" style=""><span class="fa fa-plus text-success"></span></a>-->
                    <div ng-bind-html="node.text | highlight: query " ng-class="{'filtered-out':(!treeFilter(node, query, supportedFields) && dim)}"></div>
                    <!--<a  class="gototarget btn" data-nodrag  ui-sref="{{parentstate}}.righttab({tabid: node.id})" style=""> <span ng-if="!config.editable" class="pull-left">{{node.text}}</span><i style="position:absolute;right:0;">&nbsp;</i></a>-->

        </div>
    </div>
    <ol ui-tree-nodes="" ng-model="node.children" ng-class="{'hidden': collapsed}" style="">
        <li class="card card-block img-shadow"  ng-repeat="node in node.children" ui-tree-node ng-include="'claim_renderer.html'" style="padding-right:0rem;padding-bottom:0.1rem;padding-left:5px;" ng-hide="!treeFilter(node, query, supportedFields) && dim"
                        >
        </li>
    </ol>
</script>

    </div>
                </div>
                <!--<div class="row">
    <div class="col-xs-12">
           <patentreport patent="{{tree.id}}"></patentreport>
            </div>
                </div>
            </uib-tab-content>
           </uib-tab>-->
