<input ng-model="config.PNUM" type="number" placeholder="patent number" ng-model-options="{updateOn: 'blur'}"/>
<button clipboard text="{{claims}}">CLAIMS</button>
<button clipboard text="{{remarks}}">REMARKS</button>
<button clipboard text="{{rejections}}">REJECTIONS</button>

<d3historytree patent="{{config.PNUM}}"></d3historytree>



<uib-tabset justified="true">
  <uib-tab ng-repeat="(key, set) in roarevent.roarlist" node="{{key}}" deselect="sortSet(node)">
    <uib-tab-heading><h6 class="card-title">{{::node.title}} {{$index}}</h6><strong class="card-subtitle">{{node.date | date}}</strong><a pop ng-href="{{node.media}}" class="fa fa-external-link showonhover">{{node.claims.length}}</a> </uib-tab-heading>
<uib-tab-content class="card-block card-columns">
  <div class="col-sm-8 card card-Applicant" ng-repeat="claim in node.claims track by $index" >
<label ng-class="{'dependent':(prent(node.claims[$index]) > -1), 'independent':(!prent(node.claims[$index]))}" class=" display-1 label label-pill node pull-right" style="padding:10px;position:absolute;right:5px;top:5px;font-size:18px;font-weight:600;" colorkey="{{statustest(node.claims[$index])}}" uib-tooltip="{{statustest(node.claims[$index])}}" tooltip-triggers="mouseenter click" tooltip-animation="true" tooltip-offset="50px" tooltip-placement="top" >{{num(node.claims[$index])||'-'}}</label>
<!--<span contenteditable="true"
        ng-model="node.claims[$index]"
        strip-br="true"
        strip-tags="true"
        select-non-editable="true">
  </span>-->

<textarea class="card-block" style="font-size:16px;color:#444;" ng-model="node.claims[$index]" ng-model-options="{updateOn:'blur',debounce:{'blur':0}}" cols="100" rows="4" ng-blur="checkValid($index, node)" placeholder="XX. Lorem non irure sunt enim consequat."></textarea>
<br>
<a class="fa fa-close text-danger" ng-click="node.claims[$index]=null" style="align-self:flex-end;"></a>

  <a ng-click="addClaim($index, node)" class="text-success fa fa-plus" style="align-self:center;"></a>

  </div>
  </uib-tab-content>
  </uib-tab>
  </uib-tabset>
