<form role="form" ng-submit="collection.$save()">
    <fieldset class="material Applicant">
        <input type="text" placeholder="1234567"  ng-model="config.pnum">
        <hr>
        <label>Enter a Patent Number</label>
    </fieldset>
    <br>
        <fieldset class="material Petition">
        <input type="text" placeholder="YYYY"  ng-model="config.IPAYEAR">
        <hr>
        <label>Enter a Published Patent Application YEAR</label>
    </fieldset>

        <fieldset class="material Petition">
        <input type="text" placeholder="1234567"  ng-model="config.IPANUM">
        <hr>
        <label>Enter a Published Patent Application Number</label>
    </fieldset>

</form>
