<form role="form">
    <div class="form-group">
        <label for="sample">Interval, in milliseconds:</label>
        <input type="number" class="form-control" ng-model="config.interval">
      <br />Enter a negative number or 0 to stop the interval.
      </div>
      <div class="form-group ">
        <label> Disable Slide Looping
        </label>
          <input type="checkbox" ng-model="config.nowrap">
         
      </div>
      <div class="form-group ">
        <label>Pause on Hover?
        </label>
          <input type="checkbox" ng-model="config.pauseonhover">
          
      </div>
      <div class="form-group ">
        <label>Disable Transition
        </label>
          <input type="checkbox" ng-model="config.transition">
          
      </div>


</form>
   