<!-- <small editable-text="config.id" ng-bind="config.id" class="" onaftersave="save(config)">{{config.id}}</small> -->
<div class="card clearfix" collection="{{config.id}}">
<!--
  <h6>ID: {{collection.$id}}</h6>
  <p class="" clipboad text="{{'./files/uploads/'+collection.$id+'.html'}}" onsuccess="alertify.success('copied')">{{'./files/uploads/'+collection.$id+'.html'}}</p>

  <form role="form" name="form" ng-submit="collection.$save()">
    <div class="row">
      <div class="col-sm-2">
          <div class="form-group"><label for="sortOrder" style="color: #006699">Sort Order</label><input type="number" class="form-control" id="sortOrder"
            ng-model="collection.sortOrder" required></div>
      </div>
      <div class="col-sm-6">
        <div class="form-group"><label for="dashboardTitle" style="color: #006699">Title</label><input type="text" class="form-control" id="dashboardTitle"
            ng-model="collection.title" required></div>
        <div class="row">
          <div class="form-group col-sm-6"><label style="color: #006699">Style</label><br><select ng-model="collection.styleClass" ng-options="class.value as class.label for class in $root.ROARCLASSES"></select></div>
          <div  class="form-group col-sm-6">
            <label style="color: #006699">Document Code</label><br>

            <input ng-model="collection.doccode" uib-typeahead="code.code as code.label for code in DOCNAMES | filter:$viewValue | limitTo:8" typeahead-wait-ms="100" />
            </div>
</div>
<div class="row">
             <div  class="form-group col-sm-6">
            <label style="color: #006699">Tags</label><br>

            <input ng-model="collection.matches" ng-list="," />
            <!--<select name="icon" ng-model="collection.icon" class="" ng-options="icon.value as icon.label for icon in $root.ICONS"></select>
            </div>
 <div  class="form-group col-sm-6">
            <label style="color: #006699">Icon</label><br>

                        <select name="icon" ng-model="collection.icon" class="" ng-options="icon.value as icon.label for icon in $root.ICONS"></select>
</div>
      </div>

      <div class="row">
        <div class="form-group col-sm-6"><label style="color: #006699">ID#</label><br><input type="text" ng-model="collection.rid" placeholder="#" ng-model-options="{updateOn: 'blur'}"></div>
        <div
          class="form-group col-sm-6"><label style="color: #006699">Date</label><br><input type="text" ng-model="collection.date" placeholder="YYYY-MM-DD"
            ng-pattern="dddd-dd-dd" ng-model-options="{updateOn: 'blur'}"></div>
    </div>
    <div class="form-group"><label for="description" style="color: #006699">Description</label><br><textarea type="text" class="form-control" id="description"
        ng-model="collection.description" ng-model-options="{updateOn: 'blur'}"></textarea></div>
    <div class="form-group"><label for="url" style="color: #006699">URL</label><br><input type="text" style="width: 100%" ng-model="collection.media"
        placeholder="Path to URL" ng-model-options="{updateOn: 'blur'}"></div>
        <div class="form-group"><label for="thumbnail" style="color: #006699">Thumbnail</label><br><input type="text" style="width: 100%" ng-model="collection.thumbnail"
        placeholder="Path to URL" ng-model-options="{updateOn: 'blur'}"></div>
</div>
<div class="col-sm-4">
  <roar-event id="{{config.id}}"></roar-event>
  <br>
  <input type="submit" class="btn btn-primary" >
  <button class="btn btn-success" ng-click="importFile(collection)" ng-if="!collection.ocrlink">OCR</button>
  <uib-progressbar class="active stripped" ng-class="{'active':(main.progress < 100)}" ng-if="progress" value="progress" style="height:20px;margin:auto;position:relative;display:flex;display:-webkit-flex;align-items:center;align-content:stetch;justify-content:stretch;flex-direction:row;align-self:stretch;" type="{{progresstype}}" > </uib-progressbar>
</div>
    </div>
    <div class="row">
 <i class="fa {{collection.icon || 'fa-file-pdf-o'}}" editable-text="collection.icon" e-uib-typeahead="icon.value as icon.label for icon in $root.ICONS | filter:$viewValue | limitTo:8" e-uib-typeahead-wait-ms="100"></i>
</div>
  </form>
  </div>-->


  <h6>ID: {{collection.$id}}</h6>
  <p class="" clipboad text="collection.$id" onsuccess="alertify.success('copied ID')">{{'/files/uploads/'+collection.$id+'.html'}}</p>

  <form role="form" name="form" ng-submit="collection.$save()">
      <div class="col-sm-7">
        
        <div class="form-group col-sm-6">
          <label for="sortOrder" style="color:#006699">Sort Order</label>
          <input type="number" placeholder="#" id="sortOrder" ng-model="collection.sortOrder">
        </div>
        
        <div class="form-group col-sm-6 ">
          <label style="color: #006699">ID#</label><br>
          <input type="text" ng-model="collection.rid" placeholder="#" ng-model-options="{updateOn: 'blur'}" />
        </div>

        <div class="form-group">
          <label for="dashboardTitle" style="color: #006699">Title</label>
          <input type="text" style="width: 100%" id="dashboardTitle" ng-model="collection.title" required>
        </div>

        
        <div class="form-group">
          <label for="description" style="color: #006699">Description</label><br>
          <textarea type="text" class="form-control" id="description" ng-model="collection.description" ng-model-options="{updateOn: 'blur'}"></textarea>
        </div>
<div class="form-group">
          <label for="long_cite" style="color: #006699">Long Citation</label><br>
          <input type="text" style="width: 100%" ng-model="collection.citation" placeholder="Long Citation" ng-model-options="{updateOn: 'blur'}">
       </div>
       <div class="form-group">
         <label for="short_cite" style="color: #006699">Short Citation</label><br>
         <input type="text" style="width: 100%" ng-model="collection.short_cite" placeholder="Short Citation" ng-model-options="{updateOn: 'blur'}">
      </div>
      <div class="form-group">
          <label for="thumbnail" style="color: #006699">Notes</label><br>
          <textarea  rows="15" type="text" style="width: 100%" ng-model="collection.notes" placeholder="Enter plaintext notes" ng-model-options="{updateOn: 'default blur'}" class="form-control"></textarea>
      </div>

        <div class="form-group">
          <label for="url" style="color: #006699">URL</label><br>
          <input type="text" style="width: 100%" ng-model="collection.mediaUrl" placeholder="Path to URL" ng-model-options="{updateOn: 'blur'}">
       </div>
       <div class="form-group">
         <label for="thumbnail" style="color: #006699">Thumbnail</label><br>
         <input type="text" style="width: 100%" ng-model="collection.thumbnail" placeholder="Path to URL" ng-model-options="{updateOn: 'blur'}">
      </div>
      
     <div class="form-group"><label for="roarlist" style="color: #006699">Linked Docs</label><br>
      <div smartpanel="{{collection.$id}}" ></div>
     <!-- <ol style="height:300px;overflow-y:scroll;"><li ng-repeat="roareventid in collection.roarlist" style="float:left;">
       <roar-chip id="{{roareventid}}"></roar-chip></li></ol> -->
      </div>
        <!-- <div class="form-group"><label for="navmenu" style="color: #006699">Menus <a class="fa fa-plus" ng-click="collection.menus[0] = {title: 'Linked Documents', items: collection.roarlist}"></a></label><br>
       <ol class="">
         <li class="list-group-item" ng-repeat="menu in collection.menus">
        <input type="text" style="width: 100%" ng-model="menu.title" placeholder="Path to URL" ng-model-options="{updateOn: 'blur'}"><a class="fa fa-plus text-success" ng-click="menu.items.push(collection.id)"></a>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="menuitem in menu.items">
            <input type="text" style="width: 100%" ng-model="menuitem"  placeholder="Path to URL" ng-model-options="{updateOn: 'blur'}">
          </li>
        </ul>-->
        <!-- </li></ul></div> -->

 <!--<text-size-slider min="8" max="38" units="px" step="2" value="8"></text-size-slider>-->
</div>

<div class="col-sm-5" style="max-height:175px;">
  <roar-event id="{{collection.$id}}" style="max-height:175px;"></roar-event>

  <input type="submit" class="btn btn-glass btn-primary btn-md pull-right " value="SAVE" >
<div  class="form-group col-sm-6">
            <label style="color: #006699">Icon</label><br>

                        <select name="icon" ng-model="collection.icon" class="" ng-options="icon.value as icon.label for icon in $root.ICONS"></select>
        </div>
  

  <div class="form-group col-sm-12">
          <label style="color: #006699">Style</label><br>
          <select ng-model="collection.styleClass" ng-options="class.value as class.label for class in $root.ROARCLASSES"></select>
        </div>
        <div  class="form-group col-sm-12">
            <label style="color: #006699">Document Code</label><br>

            <input ng-model="collection.doccode" uib-typeahead="code.code as code.label for code in DOCNAMES | filter:$viewValue | limitTo:8" typeahead-wait-ms="100" />
        </div>
        <div  class="form-group col-sm-12">
            <label style="color: #006699">Tags</label><br>

            <input ng-model="collection.matches" ng-list="," />
            <!--<select name="icon" ng-model="collection.icon" class="" ng-options="icon.value as icon.label for icon in $root.ICONS"></select>-->
        </div>
        
        
        <div class="form-group col-sm-12">
          <label style="color: #006699">Date</label><br>
          <input type="text" ng-model="collection.date" placeholder="YYYY-MM-DD" ng-pattern="dddd-dd-dd" ng-model-options="{updateOn: 'blur'}">
        </div> 
        <div class="form-group col-sm-12">
          <label style="color: #006699">Name</label><br>
          <input type="text" ng-model="collection.name" placeholder="name"  ng-model-options="{updateOn: 'blur'}">
        </div> 
        <div class="form-group col-sm-12">
          <label style="color: #006699">File</label><br>
          <input type="text" ng-model="collection.file.name" placeholder="file name"  ng-model-options="{updateOn: 'blur'}">
        </div> 

        <div class="form-group col-sm-12"><label for="roarlist" style="color: #006699">Linked Docs</label>
          <ol ng-scrollbar style="height:300px;overflow-y:scroll;">
            <li ng-repeat="roareventid in collection.roarlist" style="float:left;">
            <roar-chip id="{{roareventid}}"></roar-chip>
          </li>
        </ol>
      </div> 
</div>
</form>
</div>
