<div class="card  clearfix img img-hover img-shadow" collection="{{config.id}}" style="" style="height:auto;transition:all 1s ease;">
  <form role="form" name="form" ng-submit="collection.$save()">
    <div class="container">
      <div class="col-sm-7">
        <div class="form-group">
          <h6>ID: {{collection.$id}}</h6>
          <p class="btn" clipboard text="'/files/uploads/'+collection.$id+'.html'" on-click="alertify.success('/files/uploads/'+{{collection.$id}}+'.html')" style="padding:0px;">'{{'/files/uploads/'+collection.$id+'.html'}}</p>
        </div>
        <div class="form-group" style="height:40px;">
          <div class="form-group col-sm-6" style="padding:0px;">
            <label style="color: #006699">Date</label>
            <br>
            <input type="text" ng-model="collection.date" placeholder="YYYY-MM-DD" ng-pattern="dddd-dd-dd" ng-model-options="{updateOn: 'blur'}">
          </div>

          <div class="form-group col-sm-6 ">
            <label style="color: #006699">ID#</label>
            <br>
            <input type="text" ng-model="collection.rid" placeholder="#" ng-model-options="{updateOn: 'blur'}" />
          </div>
        </div>
        <div class="form-group">
          <label for="dashboardTitle" style="color: #006699">Title</label>
          <input type="text" style="width: 100%" id="dashboardTitle" ng-model="collection.title" placeholder="Title" required>
<input type="text" style="width: 100%" id="dashboardTitle2" ng-model="collection.title2" placeholder="Line 2" required>

        </div>
        <div class="form-group">
          <label for="description" style="color: #006699">Description</label>
          <br>
          <textarea type="text" rows="5" class="form-control" id="description" ng-model="collection.description" ng-model-options="{updateOn: 'blur'}"></textarea>
        </div>
        <div class="form-group">
          <label for="long_cite" style="color: #006699">Long Citation</label>
          <br>
          <input type="text" style="width: 100%" ng-model="collection.citation" placeholder="Long Citation" ng-model-options="{updateOn: 'blur'}">
        </div>
        <div class="form-group">
          <label for="short_cite" style="color: #006699">Short Citation</label>
          <br>
          <input type="text" style="width: 100%" ng-model="collection.short_cite" placeholder="Short Citation" ng-model-options="{updateOn: 'blur'}">
        </div>
        <div class="form-group">
          <label for="thumbnail" style="color: #006699">Notes</label>
          <br>
          <textarea rows="15" type="text" style="width: 100%" ng-model="collection.notes" placeholder="Enter plaintext/markdown notes" ng-model-options="{updateOn: 'default blur'}" highlight="format" highlight-onchange="list($markers)" class="form-control"></textarea>
        </div>
        <div class="form-group">
          <label for="roarlist" style="color: #006699">Linked Docs</label>
          <br>
          <div smartpanel="{{collection.$id}}"></div>
        </div>
      <div class="form-group">
          <label for="menus" style="color:var(--applicantblue)">{{collection.menus.length}} Menus <button class="btn btn-success btn-xs  text-success fa fa-plus" ng-click="collection.menus[(collection.menus.length||0)]={'title': 'NewMenu', 'icon': 'fa-circle', 'items': {'0':'ID'}}"></button></label>
          <ul ng-repeat="menu in collection.menus" >
            <label   class="fa {{menu-icon}}" >
              <i class="fa {{menu.icon}}"></i>&nbsp;&nbps;{{menu.title}}</label>
              <input type="text" ng-model="menu.title" placeholder="Title">
              <button class="fa fa-plus text-success" ng-click="menu.items[menu.items.length || 0]='7654321'}"></button>
            <select ng-model="menu.icon" ng-options="icon.value as icon.label for icon in $root.ICONS"></select>
            <li ng-repeat="link in menu.items track by $index" >
              <input type="text" ng-model="link" ng-if="!poodle" ng-model-options="{updateOn: 'default blur'}" placeholder="LINK_ID_#" >
              <button class="btn btn-xs text-success fa fa-plus" ng-click="menu.items.push({title:'NewLink',url:'//',target:'_self'})"></button>
              <span ffbase="{{link}}" class="badge badge fa {{item.icon}}">{{item.title}}</span>
              <button class="btn btn-xs text-info fa fa-chevron-right" ng-click="poodle = !poodle; link = {'title':'NewLink','url':'//','target':'_self'};menu.items[$index]=link;" ></button>
              <input type="text" ng-if="link.title || poodle" ng-model="link.title" placeholder="title">
              <input type="text" ng-if="link.url || poodle" ng-model="link.url" placeholder="URL">
              <select ng-if="link.target || poodle" ng-model="link.target" placeholder="target">
                <option label="" value=""></option>
                <option label="_blank" value="_blank"></option>
                <option label="_self" value="_self"></option>
                <option label="_parent" value="_parent"></option>
                <option label="_top" value="_top"></option>
                <option label="fframe" value="fframe" selected></option>
                <option label="pop" value="pop"></option>
              </select>
              <button class="btn btn-xs text-danger fa fa-close" ng-click="menu.items[$index]=null;cleanUp(collection)"></button>
            </li>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="form-group" style="height:175px;">
          <roar-event id="{{collection.$id}}" style="max-height:175px;">
            <uib-rating ng-model="collection.rate" max="5" class=""></uib-rating>
          </roar-event>
        </div>
        <div class="form-group">
          <label style="color: #006699">Icon</label>
          <br>
          <select name="icon" ng-model="collection.icon" class="" ng-options="icon.value as icon.label for icon in $root.ICONS"></select>
          <input type="submit" class="btn btn-glass btn-primary btn-md pull-right " value="SAVE">
        </div>
        <div class="form-group">
          <label style="color: #006699">Style</label>
          <br>
          <select ng-model="collection.styleClass" ng-options="class.value as class.label for class in $root.ROARCLASSES"></select>
        </div>
        <div class="form-group">
          <label for="sortOrder" style="color:#006699">Sort Order</label>
          <br>
          <input type="number" style="width:100%;" placeholder="#" id="sortOrder" ng-model="collection.sortOrder">
        </div>
        <div class="form-group">
          <label style="color: #006699">Document Code</label>
          <br>
          <input style="width: 100%" ng-model="collection.doccode" uib-typeahead="code.code as code.label for code in DOCNAMES | filter:$viewValue | limitTo:8" typeahead-wait-ms="100" />
        </div>
        <div class="form-group">
          <label style="color: #006699">Tags</label>
          <br>
          <input style="width: 100%" ng-model="collection.matches" ng-list="," />
        </div>
        <div class="form-group">
          <label style="color: #006699">Name</label>
          <br>
          <input type="text" style="width: 100%" ng-model="collection.name" placeholder="name" ng-model-options="{updateOn: 'blur'}">
        </div>
        <div class="form-group">
          <label style="color: #006699">FileName</label>
          <br>
          <input type="text" style="width: 100%" ng-model="collection.filename" placeholder="file name" ng-model-options="{updateOn: 'blur'}">
        </div>
        <div class="form-group">
          <label style="color:#006699">WebSource Original URL</label>
          <br>
          <input type="text" style="width: 100%" ng-model="collection.originalUrl" placeholder="/path/to/url" ng-model-options="{updateOn: 'blur'}" ng-readonly="collection.originalUrl !== (''||null)">
        </div>
        <div class="form-group">
          <label for="url" style="color: #006699" clipboard text="'https://mozilla.github.io/pdf.js/web/viewer.html?file='" on-click="alertify.success('https://mozilla.github.io/pdf.js/web/viewer.html?file=')" ng-click="collection.mediaUrl = 'https://mozilla.github.io/pdf.js/web/viewer.html?file='+collection.mediaUrl">URL</label>
          <br>
          <input type="text" style="width: 100%" ng-model="collection.mediaUrl" placeholder="Path to URL" ng-model-options="{updateOn: 'blur'}" id="url">
        </div>
        <div class="form-group">
          <label for="thumbnail" style="color: #006699">Thumbnail</label>
          <br>
          <input type="text" style="width: 100%" ng-model="collection.thumbnail" placeholder="Path to URL" ng-model-options="{updateOn: 'blur'}" id="thumbnail">
        </div>
        <div class="form-group">
          <label for="background" style="color: #006699">Background Image</label>
          <br>
          <input type="text" style="width: 100%" ng-model="collection.background" placeholder="Path to URL" ng-model-options="{updateOn: 'blur'}" id="background">
        </div>
        <div class="form-group" style="padding:0px;">
          <label for="roarlist" style="color: #006699">Linked Docs <i class="badge">{{roare.length}}</i></label>
          <ul ng-scrollbar style="height:300px;overflow-y:scroll;list-style: none;">
            <li ng-repeat="roareventid in collection.roarlist as roare" ffbase="{{roareventid}}">
              <roar-chip id="{{roareventid}}" roarevent="item"></roar-chip>
            </li>
          </ul>
        </div>
        <div class="form-group">
          <label for="links" style="color:var(--applicantblue)">{{collection.links.length}} Links<button class="btn btn-success btn-xs fa fa-plus" ng-click="collection.links[(collection.links.length || 0)]={'title': 'NewLink', 'url': '//', 'target':'_blank'}"></button></label>
          <ul>
            <li ng-repeat="link in collection.links track by $index" >
              <input type="text" ng-model="link.title" placeholder="title">
              <input type="text" ng-model="link.url" placeholder="URL">
              <select ng-model="link.target" placeholder="target">
                <option label="" value=""></option>
                <option label="_blank" value="_blank"></option>
                <option label="_self" value="_self"></option>
                <option label="_parent" value="_parent"></option>
                <option label="_top" value="_top"></option>
                <option label="fframe" value="fframe" selected></option>
                <option label="pop" value="pop"></option>
              </select>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </form>
</div>
