<div class="card card-fancy card-rounded card-block card-thick" style="text-align: left;color: #444;" collection="{{$parent.collection.$id}}">
    <button class="alert btn-glass btn-primary img card-rounded row" style="position:relative;display:flex;display:-webkit-flex;align-items:center;align-content:center;justify-content:space-between;flex-direction:row;background-color:#35688F;padding:2px;box-shadow:inset 10px 2px 50px rgba(0,0,0,0.5);"
      ng-click="collapsereport = !collapsereport">
        <div style="display:flex;justify-content:flex-end;flex-direction:column;align-content:flex-end;vertical-align:middle;align-items:flex-end;">
        <h4 class="card-title ng-binding display-4" style="margin-bottom:0;color: #fff;">US {{config.PNUM | number:0  }}</h4>

        <h5 class="card-subtitle  ng-binding" style="color:#ddd;"><span class="lead">USSN {{collection.application['Application Number']}}</span></h5>
        </div>
        <img src="/llp_core/img/GoldLion.svg" class="img lionlogofilter" style="width:75px;height: auto;">

        <div style="display:flex;flex-direction:column;align-items:flex-start;justify-content:space-around;">
          <img src="/llp_core/img/GoldLogoLong.svg" class="img" style="height:45px;">

          <img src="/llp_core/img/GoldPhdLogoLong.svg" class="img" style="height:25px;padding-left:2px;">
        </div>

    </button>

    <div uib-collapse="collapsereport" class="card clearfix" style="padding:0;margin:0;">
      <blockquote class="bs-callout bs-callout-NOA" style="margin: 0;">
        <h4>{{collection.application['Title of Invention']}}</h4>
        <p style="font-size:10px;"><cite>{{collection.application['First Named Inventor']}} <small><emphasis>Issued {{collection.patent.issued | date}}</emphasis></small></cite></p>
      </blockquote>


<uib-tabset class="tabbable" justified="true" type="pills">
  <uib-tab class="btn btn-default btn-xs badger badger-{{collection.styleClass}} badger-left btn-{{collection.styleClass}}" data-badger="{{collection.rid}}">
    <uib-tab-heading class="text-{{collection.styleClass}}"><small>{{collection.title}}</small></uib-tab-heading>
      <uib-tabset active="1" class="tabbable" justified="true" type="pills">
        <uib-tab active="main.tabs[0].isActive" disabled="main.tabs[0].disabled" select="main.tabs[0].isActive = true" deselect="main.tabs[0].isActive = false"
          style="margin: 0 5px;">
          <uib-tab-heading class=" text-Petition">PTO Metadata</uib-tab-heading>
          <uib-tab-content ng-if="main.tabs[0].isActive">

            <uib-tabset class="tabbable tabs-left">
              <uib-tab class="">
                <!--<h4 class="card-heading card-title pull-right">PTO Metadata TSVFiles</h4>-->
                <uib-tab-heading class="">USSN {{collection.application['Application Number']}}</uib-tab-heading>
                <uib-tabset class="tabbable">
                  <uib-tab class="" ng-repeat="file in collection.file" heading="{{file.label | uppercase}}">
                    <uib-tab-content>
                      <!--<ng-annotate-text text="file.file" class="card card-block card-fancy" style="padding: 1rem;border-radius: 0.2rem;font-family: 'Arial',sans-serif;" annotations="collection.annotations" readonly="false" popup-controller="'AnnotationController'" popup-template-url="'/llp_core/modules/roarmap/partial/roarmap.detail.tpl/roarmap.annotation.tpl.html'"
    tooltip-controller="'AnnotationController'" tooltip-template-url="'/llp_core/modules/roarmap/partial/roarmap.detail.tpl/roarmap.annotation-tooltip.tpl.html'" on-annotate="onAnnotate" on-annotate-delete="onAnnotateDelete" on-annotate-error="onAnnotateError"
    on-popup-show="onPopupShow" on-popup-hide="onPopupHide" popup-offset="50">-->
                      <pre class="card card-block card-fancy" ng-bind="file.file"></pre>
                      <!--</ng-annotate-text>-->
                    </uib-tab-content>
                  </uib-tab>
                </uib-tabset>
              </uib-tab>

              <uib-tab class="" ng-if="collection.application">

                <uib-tab-heading>APPLICATION</uib-tab-heading>
                <!--<h4 class="card-header card-title pull-right">Application Data</h4>-->
                <uib-tab-content>
                  <table class="card card-block table table-striped table-hover table-condensed table-responsive">

                    <tbody>
                      <tr ng-repeat="(key, value) in collection.application">
                        <td><strong>{{::key}}</strong></td>
                        <td>{{::value}}</td>

                      </tr>
                    </tbody>
                  </table>
                </uib-tab-content>
              </uib-tab>
              <uib-tab ng-if="collection.attorney">

                <uib-tab-heading class="" ng-style="">ATTORNEY</uib-tab-heading>
                <!--<h4 class="card-header card-title pull-right">Attorney Data</h4>-->
                <uib-tab-content>
                  <table class="card card-block table table-striped table-hover table-condensed table-responsive">

                    <tbody>
                      <tr ng-repeat="(key, line) in collection.attorney track by $index">
                        <td ng-repeat="(key, value) in line track by $index">{{::value}}</td>

                      </tr>
                    </tbody>
                  </table>
                </uib-tab-content>
              </uib-tab>
              <uib-tab ng-if="collection.continuity">

                <uib-tab-heading class="" style="" ng-style="">CONTINUITY</uib-tab-heading>
                <!--<h4 class="card-header card-title pull-right">Continuity Data</h4>-->
                <uib-tab-content>
                  <table class="card  card-block table table-striped table-condensed table-hover table-responsive">
                    <!--<thead>
                    <tr>
                        <th><strong>Description</strong></th>
                        <th><strong>Parent Filing or 371(c) Date</strong></th>
                        <th><strong>Parent Number</strong></th>
                        <th><strong>Parent Status</strong></th>
                        <th><strong>Patent Number</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="line in collection.continuity">
                        <td>{{::line['Description']}}</td>
                        <td>{{::line['Parent Filing or 371(c) Date']}}</td>
                        <td>{{::line['Parent Number']}}</td>
                        <td>{{::line['Parent Status']}}</td>
                        <td><a ng-href="https://patentimages.storage.googleapis.com/pdfs/US{{::line['Patent Number'].replace(',','').replace(',','')+'.pdf'}}" target="_blank" ng-if="line['Patent Number'] !== ''">{{::line['Patent Number']}}</a></td>
                    </tr>
                </tbody>-->
                    <tbody>
                      <tr ng-repeat="(key,line) in collection.continuity track by $index">
                        <td ng-repeat="(key, value) in line track by $index">{{::value}}</td>

                      </tr>
                    </tbody>
                  </table>
                </uib-tab-content>
              </uib-tab>
              <uib-tab class="" ng-if="collection.foreign">

                <!-- <pre ng-bind="main.collection.foreign | json:4"></pre> -->
                <uib-tab-heading ng-style="">FOREIGN PRIORITY</uib-tab-heading>
                <!--<h4 class="card-header card-title pull-right">Foreign Priority</h4>-->
                <uib-tab-content>
                  <table class=" table table-stripped table-condensed table-hover table-responsive">
                    <thead>
                      <tr>
                        <th><strong>Country</strong></th>
                        <th><strong>Priority</strong></th>
                        <th><strong>Priority Date</strong></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="p in collection.foreign">
                        <td ng-bind="::p['Country']"></td>
                        <td ng-bind="::p['Priority']"></td>
                        <td ng-bind="::p['Priority Date'] | date"></td>

                      </tr>
                    </tbody>
                  </table>
                </uib-tab-content>
              </uib-tab>
              <uib-tab class="" ng-if="collection.term">
                <uib-tab-heading>PATENT TERM ADJUSTMENTS</uib-tab-heading>
                <uib-tab-content>
                  <table class="card card-block table table-striped table-hover table-condensed table-responsive">

                    <tbody>
                      <tr ng-repeat="(key, line) in collection.term track by $index">
                        <td ng-repeat="(key,value) in line track by $index">{{::value}}</td>

                      </tr>
                    </tbody>
                  </table>
                </uib-tab-content>
              </uib-tab>
              <uib-tab class="" ng-if="collection.transaction">
                <!-- <pre ng-bind="main.transaction | json:4"></pre> -->
                <uib-tab-heading>TRANSACTION</uib-tab-heading>
                <!--<h4 class="card-header card-title pull-right">Transaction Data</h4>-->
                <uib-tab-content>
                  <table class="table table-striped table-hover table-condensed table-responsive">
                    <thead>
                      <tr>
                        <th><strong>Date</strong></th>
                        <th><strong>Transaction Description</strong></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="trans in collection.transaction">
                        <td>{{::trans['Date']}}</td>
                        <td>{{::trans['Transaction Description']}}</td>
                      </tr>
                    </tbody>
                  </table>
                </uib-tab-content>
              </uib-tab>
              <uib-tab class="" ng-if="collection.imagefile" select="tab.isActive = true" deslect="tab.isActive = false;">
                <uib-tab-heading ng-style="">IMAGE FILE WRAPPER</uib-tab-heading>
                <!--<h4 class="card-header card-title pull-right">Image File Wrapper</h4>-->
                <uib-tab-content ng-if="tab.isActive">
                  <!--<input type="text" ng-model="main.query" placeholder="search..." class="pull-right">-->

                  <table class=" table table-hover table-condensed table-responsive">
                    <thead>

                      <tr>
                        <th ng-click="reverse = !reverse" class="fa " ng-class="{'fa-chevron-up': reverse,'fa-chevron-down': !reverse}">#</th>
                        <th ng-click="main.dog = 'Mail\ Room\ Date'; maybe = !maybe"><strong>Mail Room Date<i class="fa" ng-if="main.dog == 'Mail Room Date'" ng-class="{'fa-chevron-up':maybe,'fa-chevron-down': !maybe}"></i></strong></th>
                        <th ng-click="main.dog = 'Document\ Code'; maybe = !maybe"><strong>Document Code<i class="fa" ng-if="main.dog == 'Document Code'" ng-class="{'fa-chevron-up':maybe,'fa-chevron-down': !maybe}"></i></strong></th>
                        <th ng-click="main.dog = 'Document\ Description'; maybe = !maybe"><strong>Document Description<i class="fa" ng-if="main.dog == 'Document Description'" ng-class="{'fa-chevron-up':maybe,'fa-chevron-down': !maybe}"></i></strong></th>
                        <th ng-click="main.dog = 'Document\ Category'; maybe = !maybe"><strong>Document Category<i class="fa" ng-if="main.dog ==  'Document Category'" ng-class="{'fa-chevron-up':maybe,'fa-chevron-down': !maybe}"></i></strong></th>
                        <th ng-click="main.dog = 'Page\ Count'; maybe = !maybe"><strong>Page Count<i class="fa" ng-if="main.dog == 'Page Count'" ng-class="{'fa-chevron-up':maybe,'fa-chevron-down': !maybe}"></i></strong></th>
                        <th ng-click="main.dog = 'Filename'; maybe = !maybe"><strong>Filename<i class="fa" ng-if="main.dog == 'Filename'" ng-class="{'fa-chevron-up':maybe,'fa-chevron-down': !maybe}"></i></strong></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="roarevent in collection.imagefile | filter: main.query | orderBy: main.dog : !maybe" class="" colorkey="{{roarevent['Document Code']}}">
                        <th class=""> <a ng-click="main.pushtoqueue(roarevent)"><i class="fa fa-file-pdf" ng-class="{'fa-check':(roarevents[roarevent.$index].media.indexOf('_ocr')>-1)}"> {{$index+1}}</i></a></th>
                        <td ng-bind="roarevent['Mail Room Date']"></td>
                        <td ng-bind="roarevent['Document Code']"></td>
                        <td ng-bind="roarevent['Document Description']"></td>
                        <td ng-bind="roarevent['Document Category']"></td>
                        <td ng-bind="roarevent['Page Count']"></td>
                        <td><a ng-href="{{'https://lexlab.io/files/public/uspto/'collection.appnum+'/'+'collection.appnum+'-image_file_wrapper/'+roarevent['Filename']}}">{{roarevent['Filename']}}</a></td>
                        <!--<td ><a ng-href="https://lexlab.io/files/public/uspto/{{collection.appnum}}/{{collection.appnum}}-image_file_wrapper/{{roarevent['Filename']}}" target="_popup" onclick="window.open(this.href, '', 'resizable=yes,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=yes,dependent=yes,width=500,left=150,height=700,top=150'); return false;">{{roarevent['Filename']}}</a></td>-->



                      </tr>

                    </tbody>
                  </table>
                  <!--<div ng-repeat="roarevent in collection.imagefile  " class="card card-block">
                        <doc-header roarid="{{main.format(roarevent['Filename'])}}"></doc-header>

                    </div>-->
                </uib-tab-content>
              </uib-tab>

            </uib-tabset>
          </uib-tab-content>

        </uib-tab>


        <!--<uib-tab class="" active="main.tabs[1].isActive" disable="main.tabs[1].disabled" select="main.tabs[1].isActive = true" deselect="main.tabs[1].isActive = false"
          style="margin: 0 5px;">
          <uib-tab-heading class="" ng-style="">Patent Digest for US {{(collection.patent.number | number:0) || (config.IPAYEAR + "&nbsp;/&nbsp;" + config.IPANUM) }}</uib-tab-heading>

          <uib-tab-content ng-if="main.tabs[1].isActive" ng-controller="MainCtrl as main">
            <patentreport patent="{{collection.patent.id}}" pnum="{{collection.patent.id}}"></patentreport>
          </uib-tab-content>
        </uib-tab>-->
        <uib-tab heading="Claim/Rejection History" active="main.tabs[2].isActive" select="main.tabs[2].isActive = true" deselect="main.tabs[2].isActive = false">
          <uib-tab-content >
            <uib-tabset justified="true">

              <uib-tab heading="Claim History-at-a-Glance">
                <d3historytree patent="{{config.PNUM}}"></d3historytree>


              </uib-tab>
              <uib-tab heading="Issued Claims">
              <div ng-include="'{widgetsPath}/getphd/src/claimtreetab.html'"></div>

              </uib-tab>
              <uib-tab ffbase="{{config.PNUM}}">
                <uib-tab-heading>Rejections <label class="label label-pill label-danger">{{item.rejectionhistory.length}}</label></uib-tab-heading>


                <div ng-repeat="(key, date) in item.rejectionhistory" class="card card-PTO ">

                  <div class="card-header">
                    <h4 class="card-title">{{key | date:long}} <a class="fa fa-ellipsis-v fa-pull-right" ng-click="this.isCollapsed = !this.isCollapsed"></a></h4></div>
                  <div class="card-block" uib-collapse="isCollapsed" rejectionset set="date">




                  </div>
                </div>

              </uib-tab>
            </uib-tabset>
          </uib-tab-content>
        </uib-tab>
      </uib-tabset>
      </uib-tab>
      <uib-tab ng-repeat="col in collection.roarlist" ffbase="{{col}}" class="btn btn-default btn-xs badger badger-left badger-{{item.styleClass}}" data-badger="{{item.rid}}">
        <uib-tab-heading class=" text-{{item.styleClass}}"><small>{{item.title}}</small></uib-tab-heading>
        <roargrid collection="col"></roargrid>
</uib-tab>
</uib-tabset>
    </div>
  </div>
