<div colorkey="{{rejection.type | trim}}" class="img-avatar" style="display:flex;align-items:center;align-content:center;">

  {{rejection.type}}</div>
<div style="min-width:100px;height:100px;"><strong>{{rejection.primary_reference}}</strong> <br><span ng-repeat="ref in rejection.secondary_references">{{ref}}&nbsp;<br></span></div>
<div style="min-width: 150px;height:100px;"><span ng-repeat="c in rejection.claims_affected" style="width:25%;float:left;">{{c}}</span></div>
<div style="overflow:scroll;text-overflow:ellipsis;">
  <ng-annotate-text text="rejection.fulltext | highlight: query" class="" style="" annotations="rejection.annotations" readonly="false"
    popup-controller="'AnnotationController'" popup-template-url="'/llp_core/modules/roarmap/partial/roarmap.detail.tpl/roarmap.annotation.tpl.html'"
    tooltip-controller="'AnnotationController'" tooltip-template-url="'/llp_core/modules/roarmap/partial/roarmap.detail.tpl/roarmap.annotation-tooltip.tpl.html'"
    on-annotate="onAnnotate" on-annotate-delete="onAnnotateDelete" on-annotate-error="onAnnotateError" on-popup-show="onPopupShow"
    on-popup-hide="onPopupHide" popup-offset="50">

  </ng-annotate-text>
</div>
