

<table class="table table-stripped table-hover table-condensed table-responsive ">
<thead >
            <tr class="td-petition">
              <th ng-click="maybe = !maybe;prop = 'id'">#</th>
              <th ng-click="maybe = !maybe;prop = 'doccode'">#</th>
                <th   class="td-petition" ng-click="maybe = !maybe;prop = 'total'">Total</th>
<th colorkey="allowed" ng-click="maybe = !maybe;prop = 'allowed'">Allowed</th>
                 <th colorkey="new">New</th>
                 <th colorkey="original">O</th>
                 <th colorkey="canceled">C</th>
                 <th colorkey="withdrawn">W</th>
                 <th colorkey="currently amended">C.A.</th>
               <th colorkey="previously presented">P.P.</th>
                <th colorkey="allowable">Allowable</th>
                <th colorkey="101" ng-click="maybe = !maybe;prop = 'v101'">101</th>
                  <th colorkey="102" ng-click="maybe = !maybe;prop = 'v102'">102</th>
              <th colorkey="103" ng-click="maybe = !maybe;prop = 'v103'">103</th>
                <th colorkey="112" ng-click="maybe = !maybe;prop = 'v112'">112</th>
         </tr>
         </thead>
         <tbody>
           <tr ng-repeat="(key, paper) in arra | orderBy: prop :maybe" ffbase="{{paper.id}}" class="{{item.styleClass}}" collection="{{paper.id.slice(0,paper.id.indexOf('-'))}}">
             <td>{{collection.patent.id|number:0}}</td>
             <td class="{{item.styleClass}}">{{item.rid}} - {{item.doccode}}</td>
                <td ng-bind="paper.total||paper.pending"></td>
                <td ng-bind="paper.allowed"></td>
                <td ng-bind="paper.new"></td>
                <td ng-bind="paper.original"></td>
                <td ng-bind="paper.canceled"></td>
                <td ng-bind="paper.withdrawn"></td>
                <td ng-bind="paper.amended.currently"></td>
                <td ng-bind="paper.amended.previously"></td>
<td ng-bind="paper.v101"></td>
<td ng-bind="paper.v102"></td>
<td ng-bind="paper.v103"></td>
<td ng-bind="paper.v112"></td>
<td ng-bind="paper.allowable"></td>
<tr>
  <td ng-bind="sum(collection, 'total')"></td>
  <td ng-bind="sum(collection, 'allowed')"></td>
  <td ng-bind="sum(collection, 'new')"></td>
  <td ng-bind="sum(collection, 'original')"></td>
  <td ng-bind="sum(collection, 'canceled')"></td>
  <td ng-bind="sum(collection, 'withdrawn')"></td>
  <td ng-bind="sum(collection, 'currently')"></td>
  <td ng-bind="sum(collection, 'previously')"></td>
  <td ng-bind="sum(collection, 'v101')"></td>
  <td ng-bind="sum(collection, 'v102')"></td>
  <td ng-bind="sum(collection, 'v103')"></td>
  <td ng-bind="sum(collection, 'v112')"></td>
  </tr>
</tr>
</tbody>
</table>



<div style="" class="animated row card-deck clear-fix">
  <div class="toast toast-info btn-glass">
    <h6 class="fa fa-3x fa-ge">{{report.filehistories.total}}
      <label>&nbsp;&nbsp;TOTAL</label>
    </h6>
  </div>
</div>
<div class="toast toast-success btn-glass">
  <h6 class="fa fa-3x fa-check">{{report.filehistories.complete}}
    <label>&nbsp;&nbsp;COMPLETE</label>
  </h6>
</div>
<div class="toast toast-warning btn-glass">
  <h6 class="fa fa-3x fa-alert">{{report.filehistories.incomplete}}
    <label>&nbsp;&nbsp;INCOMPLETE</label>
  </h6>
</div>
<div class="animated row">
  <div class="col-md-6" style="height:600px;overflow:scroll;">
    <div style="margin:2.5%;padding:2.5%;display:flex;flex-flow:row wrap;justify-content:space-between;perspective:1200px;transform-style:preserve-3d;" class="card card-block img-shadow">
      <figure draggable="draggable" style="width:100px;height:100px;border:0px groove #ddd;float:left;margin:2.5px;perspective:500px;transform-style:preserve-3d;transition:all 0.2s ease;position:relative;background-color:transparent;" ng-repeat="history in report.filehistories.data | filter: report.query | orderBy: [prop,'id'] :maybe"><img src="{{history.media || history.altimgurl}}" style="width:100%;height:100%;transition:all 0.2s ease;" ng-class="{'img-thumbnail highlight':(history.mouseover == true) }" ng-mouseenter="history.mouseover = true" ng-mouseleave="history.mouseover = false"
          class="img img-shadow" /><a ng-click="app.dofunction(history)" style="position:absolute;left:0;top:100%;right:0;text-align:center;border-radius:20px;box-shadow:inset 0 0 30px rgba(250,250,250,0.75),-1px 1px 5px rgba(0,0,0,0.5),inset -1px 1px 5px rgba(0,0,0,0.5);background-color:rgba(0,0,0,0.25);border:2.5px ridge black;transform-origin:50% 50%;transform:translateZ(5px)translateY(-25px);transition:all 0.2s ease;color:black;"
          class="label btn">{{(history.id | number:0) || history.application.utility}}</a></figure>
    </div>
  </div>

<div class="col-md-6" style="height:600px;overflow:scroll;">
  <div style="margin:2.4%;padding:2.5%;" class="card card-block img-shadow"><a style="position:absolute;z-index:2;right:5px;" ng-click="report.query = ''" class="badge"><i class="fa fa-close"></i></a>
    <input style="position:absolute;z-index:1;right:5px;" placeholder="Search..." ng-model="report.query" class="pull-right" />
    <table style="z-index:0;" class="table table-stripped table-condensed table-hover table-resonsive">
      <thead>
        <th ng-click="maybe = !maybe;prop = 'isReedTech'"><i class="fa fa-check"></i></th>
        <th ng-click="maybe = !maybe;prop = 'appnum'">#</th>
        <th ng-click="maybe = !maybe;prop = 'id'">ID</th>
        <th ng-click="maybe = !maybe;prop = 'claims_issued_total'">Issued / Pending</th>
        <th ng-click="maybe = !maybe;prop = 'art_unit'">Art Unit</th>
        <th ng-click="maybe = !maybe;prop = 'file.fstat.size'">FileSize</th>
        <th ng-click="maybe = !maybe;prop = 'title'">Title</th>
        <th ng-click="maybe = !maybe;prop = 'file.added">Added</th>
      </thead>
      <tbody>
        <tr ng-repeat="history in report.filehistories.data | filter: report.query | orderBy: [prop,'id'] :maybe" ng-mouseenter="history.mouseover = true" ng-mouseleave="history.mouseover = false" ng-class="{'primary tr-primary':(history.mouseover == true) }" class="animated staggered">
          <td><span ng-class="{'fa-check text-success':(history.isReedTech === true),'fa-minus text-danger':(history.isReedTech !== true)}" class="fa "></span></td>
          <td>{{$index}}</td>
          <td><strong>{{history.patent}}</strong><br>({{history.application.utility}})</td>
          <td>{{history.claims_issued_total}} / {{history.claims_pending_total}}<br>({{history.claims_issued_total / history.claims_pending_total * 100 }}%)</td>
          <td ng-bind-html="history.art_unit | highlight: report.query | trustAsHTML">{{history.art_unit}} </td>
          <td ng-bind-html="history.file.size"></td>
          <td ng-bind-html="history.title | highlight: report.query | trustAsHTML">{{history.title}}</td>
          <td ng-bind-html="history.file.added | date"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
