<div class="card  clearfix img img-hover img-shadow" collection="{{roarevent.$id}}" style="z-index:1;position:absolute;left:99.5%;top:0;min-width:550px;height: 90vh;overflow-y: auto;transition: all 1s ease-in-out;" ng-class="{'collapse':!roarevent.coplapse, 'collapse in':roarevent.coplapse}">
  <form role="form" name="form" ng-submit="collection.$save()">
    <div class="container">
      <div class="col-sm-7">
        <div class="form-group">
          <h6>ID: {{collection.$id}}</h6>
          <p class="btn" clipboard text="'/files/uploads/'+collection.$id+'.html'" on-click="alertify.success('/files/uploads/'+{{collection.$id}}+'.html')" style="padding:0px;">{{'/files/uploads/'+collection.$id+'.html'}}</p>
        </div>
        <div class="form-group" style="height:40px;">
          <div class="form-group col-sm-6" style="padding:0px;">
            <label style="color: #006699" for="date">Date</label>
            <br>
            <input type="text" id="date" ng-model="collection.date" placeholder="YYYY-MM-DD" ng-pattern="dddd-dd-dd" ng-model-options="{updateOn: 'blur'}">
          </div>
          <div class="form-group col-sm-6 ">
            <label style="color: #006699" for="rid">ID#</label>
            <br>
            <input id="rid" type="text" ng-model="collection.rid" placeholder="#" ng-model-options="{updateOn: 'blur'}" />
          </div>
        </div>
        <div class="form-group">
          <label for="dashboardTitle" style="color: #006699">Title</label>
          <input type="text" style="width: 100%" id="dashboardTitle" ng-model="collection.title" required>
        </div>
        <div class="form-group">
          <label for="description" style="color: #006699">Description</label>
          <br>
          <textarea type="text" rows="5" class="form-control" id="description" ng-model="collection.description" ng-model-options="{updateOn: 'blur'}"></textarea>
        </div>
        <div class="form-group">
          <label for="long_cite" style="color: #006699">Long Citation</label>
          <br>
          <input type="text" style="width: 100%" ng-model="collection.citation" placeholder="Long Citation" ng-model-options="{updateOn: 'blur'}">
        </div>
        <div class="form-group">
          <label for="short_cite" style="color: #006699">Short Citation</label>
          <br>
          <input type="text" style="width: 100%" ng-model="collection.short_cite" placeholder="Short Citation" ng-model-options="{updateOn: 'blur'}">
        </div>
        <div class="form-group">
          <label for="thumbnail" style="color: #006699">Notes</label>
          <br>
          <textarea rows="15" type="text" style="width: 100%" ng-model="collection.notes" placeholder="Enter plaintext notes" ng-model-options="{updateOn: 'default blur'}" class="form-control"></textarea>
        </div>
        <div class="form-group">
          <label for="roarlist" style="color: #006699">Linked Docs</label>
          <br>
          <div smartpanel="{{collection.$id}}"></div>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="form-group" style="height:175px;">
          <roar-event id="{{roarevent.$id}}" style="max-height:175px;">
            <uib-rating ng-model="roarevent.rate" max="5" class=""></uib-rating>
          </roar-event>
        </div>
        <div class="form-group">
          <label style="color: #006699" for="icon">Icon</label>
          <br>
          <select name="icon" ng-model="collection.icon" class="" ng-options="icon.value as icon.label for icon in $root.ICONS"></select>
          <input type="submit" class="btn btn-glass btn-primary btn-md pull-right " value="SAVE">
        </div>
        <div class="form-group">
          <label style="color: #006699">Style</label>
          <br>
          <select ng-model="collection.styleClass" ng-options="class.value as class.label for class in $root.ROARCLASSES"></select>
        </div>
        <div class="form-group">
          <label for="sortOrder" style="color:#006699">Sort Order</label>
          <br>
          <input type="number" style="width:100%;" placeholder="#" id="sortOrder" ng-model="collection.sortOrder">
        </div>
        <div class="form-group">
          <label style="color: #006699">Document Code</label>
          <br>
          <input style="width: 100%" ng-model="collection.doccode" uib-typeahead="code.code as code.label for code in DOCNAMES | filter:$viewValue | limitTo:8" typeahead-wait-ms="100" />
        </div>
        <div class="form-group">
          <label style="color: #006699">Tags</label>
          <br>
          <input style="width: 100%" ng-model="collection.matches" ng-list="," />
        </div>
        <div class="form-group">
          <label style="color: #006699">Name</label>
          <br>
          <input type="text" style="width: 100%" ng-model="collection.name" placeholder="name" ng-model-options="{updateOn: 'blur'}">
        </div>
        <div class="form-group">
          <label style="color: #006699">FileName</label>
          <br>
          <input type="text" style="width: 100%" ng-model="collection.filename" placeholder="file name" ng-model-options="{updateOn: 'blur'}">
        </div>
       <div class="form-group">
          <label style="color:#006699">WebSource Original URL</label>
          <br>
          <input type="text" style="width: 100%" ng-model="collection.originalUrl" placeholder="/path/to/url" ng-model-options="{updateOn: 'blur'}" ng-readonly="collection.originalUrl !== (''||null)">
        </div>
         <div class="form-group">
          <label for="url" style="color: #006699" clipboard text="'https://mozilla.github.io/pdf.js/web/viewer.html?file='" on-click="alertify.success('https://mozilla.github.io/pdf.js/web/viewer.html?file=')" ng-click="collection.mediaUrl = 'https://mozilla.github.io/pdf.js/web/viewer.html?file='+collection.mediaUrl">URL</label>
          <br>
          <input type="text" style="width: 100%" ng-model="collection.mediaUrl" placeholder="Path to URL" ng-model-options="{updateOn: 'blur'}">
        </div>
        <div class="form-group">
          <label for="thumbnail" style="color: #006699">Thumbnail</label>
          <br>
          <input type="text" style="width: 100%" ng-model="collection.thumbnail" placeholder="Path to URL" ng-model-options="{updateOn: 'blur'}">
        </div>
        <div class="form-group" style="padding:0px;">
          <label for="roarlist" style="color: #006699">Linked Docs <i class="badge">{{roare.length}}</i></label>
          <ul ng-scrollbar style="height:300px;overflow-y:scroll;list-style: none;">
            <li ng-repeat="roareventid in collection.roarlist as roare" ffbase="{{roareventid}}">
              <roar-chip id="{{roareventid}}" roarevent="item"></roar-chip>
            </li>
          </ul>
        </div>
        <div class="form-group">
          <label for="links" style="color:var(--applicantblue)">{{collection.links.length}} Links<button class="btn btn-success btn-xs fa fa-plus" ng-click="collection.links.push({title: 'NewLink', url: '//', target:'_blank'})"></button></label>
          <ul>
            <li ng-repeat="link in collection.links track by $index" >
              <input type="text" ng-model="link.title" placeholder="title">
              <input type="text" ng-model="link.url" placeholder="URL">
              <select ng-model="link.target" placeholder="target">
                <option label="" value=""></option>
                <option label="_blank" value="_blank"></option>
                <option label="_self" value="_self"></option>
                <option label="_parent" value="_parent"></option>
                <option label="_top" value="_top"></option>
                <option label="fframe" value="fframe" selected></option>
                <option label="pop" value="pop"></option>
              </select>
            </li>
          </ul>
        </div>
        <div class="form-group">
          <label for="menus" style="color:var(--applicantblue)">{{menus.length}} Menus <button class="btn btn-success btn-xs fa fa-plus" ng-click="collection.menus.push({title: 'NewMenu', icon: 'fa-circle', items: ['$ID']})"></button></label>
          <ul ng-repeat="menu in collection.menus">
            <label editable-text="menu.title">{{menu.title}}</label>
            <select ng-model="menu.icon" ng-options="icon.value as icon.label for icon in ICONS"></select>
            <li ng-repeat="link in menu.items track by $index" >
              <input type="text" ng-model="link.$value" placeholder="ID OPTIONAL" >
              <button class="btn btn-xs text-success fa fa-circle-plus" ng-click="menu.items.push('ROARID')"></button> 
              <!-- <input type="text" ng-model="link.title" placeholder="title">
              <input type="text" ng-model="link.url" placeholder="URL">
              <select ng-model="link.target" placeholder="target">
                <option label="" value=""></option>
                <option label="_blank" value="_blank"></option>
                <option label="_self" value="_self"></option>
                <option label="_parent" value="_parent"></option>
                <option label="_top" value="_top"></option>
                <option label="fframe" value="fframe" selected></option>
                <option label="pop" value="pop"></option>
              </select> -->
            </li>
          </ul>
        </div>
      </div>
    </div>
  </form>
</div>
