
<div class="panel-heading" style="z-index:1;">

    <h6 class="panel-title" style="">
          <span ng-bind="roarevent.rid" class="btn fa {{roarevent.icon}}" ng-click="roar.collapse()"></span>
          <span style="margin-left:25px;" ng-bind="roarevent.title"></span>



 <span id="controls" class="pull-right" style="position:absolute;right:5px;font-size:12px;">

<!--<a href title="notes" ng-click="note(roarevent)" ><i class="fa fa-pencil" style="margin:5px;"></i></a>-->

<!--<a href title="mail" ng-click="$publish(this)"><i class="fa fa-send" style="color:steelblue;"></i></a>-->

 <!--<a href title="comment" ng-click="note(roarevent.id)"><i class="fa fa-comments-o" style="color:steelblue;"></i></a>-->

 <!--<a href title="reload widget content"  ng-click="reload()"> <i class="fa fa-refresh" style="margin:5px;"></i> </a>-->

 <!--<a href title="change widget location" class="adf-move" > <i class="fa fa-arrows" style="margin:5px;"></i> </a>-->
<a class="hovergold text-{{roarevent.styleClass}}"  clipboard text="roarevent.media" on-copied="alertify.success('copied!');" on-error="alertify.error(err,'uh oh!')" onclick="alertify.success('copied!')"><i class="fa fa-link" style="margin:5px;"></i></a>
 <a class="hovergold text-{{roarevent.styleClass}}" href title="collapse widget" ng-show="!isCollapsed" ng-click="isCollapsed = true"> <i class="fa fa-minus" style="margin:5px;"></i> </a>

 <a class="hovergold text-{{roarevent.styleClass}}" href title="expand widget" ng-show="isCollapsed" ng-click="isCollapsed = false"> <i class="fa fa-plus" style="margin:5px;"></i> </a>

 <a class="hovergold text-{{roarevent.styleClass}}" href title="copy to clipboard" ng-click="edit(roarevent.id)" > <i class="fa fa-copy" style="margin:5px;"></i> </a>

 <a class="hovergold text-{{roarevent.styleClass}}" href title="fullscreen widget" ng-click="openFullScreen(roarevent.id)" ng-show="options.maximizable || true"> <i class="fa fa-expand" style="margin:5px;"></i> </a>
<a class="hovergold text-{{roarevent.styleClass}}" href title="pop out" ng-click="openpreview(roarevent)" ><i class="fa fa-external-link" style="margin:5px;"></i></a>
 <a class="hovergold text-{{roarevent.styleClass}}" href title="remove widget" ng-click="remove()" onclick="$(this).parent().parent().parent().parent().remove()"> <i class="fa fa-close" style="margin:5px;"></i> </a>

 </span>


</h6>
<!--<small class="" style="margin-left:50px;" ng-bind="roarevent.date | date"></small>-->


</div>
