
<div ng-controller="MainCtrl as main">
<div class="alert alert-info" ng-if="notconfigured()">Please configure the +getphd widget</div>
<div ng-if="configured()" ng-bind-html="main.content"></div>
<button class="button button-icon fa fa-print" ng-click="publish(phd)" style="position:absolute;top:0;right:0;z-index:1000;" ng-if="$state.includes('statusboard')"></button>
 
 <div class="card card-primary card-block btn-glass drop-target" nv-file-drop uploader="uploader"   drop-files="handleFiles(files)"
 style="border: 2px dashed blue;margin: 5px;" ng-hide="phd.file">
    <div ng-controller="pageslideCtrl" >
                <button class="row btn btn-glass btn-primary img img-rounded " ng-hide="phd.file" style="position:relative;display:flex;display:-webkit-flex;align-items:center;align-content:center;justify-content:space-around;flex-direction:row;" ng-click="toggle()">
        <i class="fa fa-download fa-3x">{{config.appnum}}</i>
        <img src="https://lexlab.firebaseapp.com/img/GoldLogoLong.svg" class="pop img img-rounded pull-right" style="" ng-if="!config.appnum" />
        <!-- <div class="fa fa-download fa-5x pull-right"></div> -->
    </button>
                

    <div pageslide ps-open="checked" ps-key-listener="true" ps-side="left" ps-class="card-dark">
                    <div ng-include="'/getphdwidget/src/phd/step-1.html'"></div>
                    <div ng-include="'/getphdwidget/src/phd/step-2.html'"></div>
                    <upload-q></upload-q>
                </div>
    <div class="row" ng-hide="phd.file">

        <div class="alert alert-danger" role="alert" ng-if="main.error"><strong>Uh oh!</strong> {{main.error}}</div>
        <pre class="alert alert-info" role="alert" ng-if="main.info" style="color:white !important;">{{main.info}}</pre>
    </div>
</div></div>
<div class="card card-fancy card-rounded card-block card-thick" style="text-align: left;color: #444;" ng-if="phd.file">

<button class="alert btn-glass btn-primary img card-rounded" style="position:relative;display:flex;display:-webkit-flex;align-items:center;align-content:center;justify-content:space-around;flex-direction:row;" ng-click="main.collapse()">
        <i class="icon icon-xllp fa-2x lead">USSN {{phd.application[0][1] || config.appnum}}</i>
        <img src="https://lexlab.firebaseapp.com/img/GoldLogoLong.svg" class="pop img img-rounded pull-right" style="" />
        <!-- <div class="fa fa-download fa-5x pull-right"></div> -->
    </button>
<div collapse="collapsereport">
  <hr/>
    <tabset>
        <tab class="ngDialogTab">
            <tab-heading class="lead">USSN {{phd.application[0][1]}}</tab-heading>
            <h5 class="card-title">PTO Meta-Data TSVFiles</h5>
            <tabset>
                <tab class="" ng-repeat="file in phd.file" heading="{{file.label | uppercase}}">
                    <pre class="card card-block card-fancy" ng-bind="file.file"></pre>
                </tab>
            </tabset>
        </tab>
        <tab class="ngDialogTab primary" ng-if="phd.application">
            
            <tab-heading style="" ng-style="">APPLICATION</tab-heading>
            <h5 class="card-title">Application Data</h5>
            <table class="card card-default card-block table table-striped table-hover table-condensed table-responsive">

                <tbody>
                    <tr ng-repeat="line in phd.application">
                        <td ng-repeat="value in line">{{value}}</td>

                    </tr>
                </tbody>
            </table>
        </tab>
        <tab class="ngDialogTab info" ng-if="phd.attorney">
           
            <tab-heading ng-style="">ATTORNEY</tab-heading>
            <h5 class="card-title">Attorney Data</h5>
            <table class="card card-default card-block table table-striped table-hover table-condensed table-responsive">

                <tbody>
                    <tr ng-repeat="line in phd.attorney">
                        <td ng-repeat="value in line">{{value}}</td>

                    </tr>
                </tbody>
            </table>
        </tab>
        <tab class="ngDialogTab success" ng-if="phd.continuity">
            
            <tab-heading style="" ng-style="">CONTINUITY</tab-heading>
            <h5 class="Continuity Data">Continuity Data</h5>
            <table class="card card-default card-block table table-striped table-condensed table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Parent Filing or 371(c) Date</th>
                        <th>Parent Number</th>
                        <th>Parent Status</th>
                        <th>Patent Number</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="line in phd.continuity">
                        <td>{{::line['Description']}}</td>
                        <td>{{::line['Parent Filing or 371(c) Date']}}
                        <td>{{::line['Parent Number']}}</td>
                        <td>{{::line['Parent Status']}}</td>
                        <td><a ng-href="https://patentimages.storage.googleapis.com/pdfs/US{{::line['Patent Number'].replace(',','').replace(',','')}}.pdf" target="_blank">{{::line['Patent Number']}}</td>
                    </tr>
                </tbody>
            </table>
        </tab>
        <tab class="ngDialogTab warning" ng-if="phd.foreign">

            <!-- <pre ng-bind="main.phd.foreign | json:4"></pre> -->
            <tab-heading style="" ng-style="">FOREIGN PRIORITY</tab-heading>
            <h5 class="card-title">Foreign Priority</h5>
            <table class="card card-default card-block table table-striped table-condensed table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Country</th>
                        <th>Priority</th>
                        <th>Priority Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="p in phd.foreign">
                        <td ng-bind="p['Country']"></td>
                        <td ng-bind="p['Priority']"></td>
                        <td ng-bind="p['Priority Date'] | date"></td>

                    </tr>
                </tbody>
            </table>
        </tab>
        <tab class="ngDialogTab danger" ng-if="phd.transaction">
            <!-- <pre ng-bind="main.transaction | json:4"></pre> -->
            <tab-heading style="" ng-style="">TRANSACTION</tab-heading>
            <h5 class="card-title">Transaction Data</h5>
            <table class="card card-default card-block table table-striped table-hover table-condensed table-responsive">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Transaction Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="trans in phd.transaction">
                        <td>{{::trans['Date']}}</td>
                        <td>{{::trans['Transaction Description']}}</td>
                    </tr>
                </tbody>
            </table>
        </tab>
        <tab class="ngDialogTab" ng-if="phd.imagefile">
            <tab-heading ng-style="">I F W</tab-heading>
            <h5 class="card-title">Image File Wrapper</h5>
            <input type="text" ng-model="main.query" placeholder="search..." class="pull-right">

            <table class="card card-default card-block table table-hover table-condensed table-responsive">
                <thead>

                    <tr>
                        <!--<th ng-click="reverse = !reverse" class="fa " ng-class="{'fa-chevron-up': reverse,'fa-chevron-down': !reverse}">#</th>-->
                        <th>Mail Room Date</th>
                        <th>Document Code</th>
                        <th>Document Description</th>
                        <th>Document Category</th>
                        <th>Page Count</th>
                        <th>Filename</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="roarevent in phd.imagefile |filter: main.query " class="">
                        <!--<th class=""> <a ng-click="pdfToPlainText(roarevent['Filename'])" getpdftext><i class="fa fa-file-pdf"> {{$index}}</i></a></th>-->
                        <td ng-bind="roarevent['Mail Room Date']"></td>
                        <td ng-bind="roarevent['Document Code']"></td>
                        <td ng-bind="roarevent['Document Description']"></td>
                        <td ng-bind="roarevent['Document Category']"></td>
                        <td ng-bind="roarevent['Page Count']"></td>
                        <td ng-bind="roarevent['Filename']"></td>




                    </tr>
                </tbody>
            </table>
        </tab>
        <tab class="ngDialogTab {{collection.styleClass}}" ng-repeat="collection in phd.roarmap.collections" collection="{{collection}}">
            <tab-heading class="" style="" ng-style=""><span class="fa {{collection.icon}}"></span>{{collection.rid}}</tab-heading>
            <h5 class="card-title fa {{collection.icon}}">{{collection.rid}}</h5>
            <div style="width: 100%;" class="reventlist">
                <roar-event ng-repeat="event in collection.roarlist" id="{{event.id || event}}" style="width:19.5%;"></roar-event>
            </div>

        </tab>
        <tab class="ngDialogTab">
            <tab-heading>ROAR
                <label class="label label-info label-pill">{{phd.imagefile.length}}</label>
            </tab-heading>
            
            
            
             <tabset>
                <tab  ng-repeat="roarevent in phd.roarmap.roarevents">
                    <tab-heading class="ngDialogTab"><roar-badge id="{{roarevent.id || roarevent}}"></roar-badge></tab-heading>
                    <roar-chip id="{{roarevent.id || roarevent}}"></roar-chip>
                    <iframe src="{{roarevent.media}}" class="card card-block card-fancy"></iframe>
                </tab>
            </tabset>



             

        </tab>
        
        <tab class="ngDialogTab">
           <tab-heading class="lead" ng-style="">US {{phd.patent.number}}</tab-heading>
            <iframe src="{{phd.patent.media}}" class="card card-fancy" style="min-height:500px;width:90%;"></iframe>
            <!--<tabset>
                <tab heading=".pdf">
            <div filepicker-preview url="phd.patent.media" style="width:100%; height:400px"></div>
           </tab>
           <tab heading=".html">
            <div filepicker-preview url="phd.patent.srcdoc" style="width:100%; height:400px"></div>
           </tab>
           <tab heading="gtxt">
            <div filepicker-preview url="phd.patent.googlepagetext" style="width:100%; height:400px"></div>
           </tab>
           <tab heading=".txt">
                <div filepicker-preview url="phd.patent.txt" style="width:100%; height:400px"></div>
               </tab>
           </tabset>-->
           </tab> 
    </tabset>
</div>
</div>
