
<div ng-controller="MainCtrl as main">
<div class="alert alert-info" ng-if="notconfigured()">Please configure the +getphd widget</div>
<div ng-if="configured()" ng-bind-html="main.content"></div>
<button class="button button-icon fa fa-print" ng-click="publish(phd)" style="position:absolute;top:-1rem;right:1rem;z-index:1000;" ></button>
 
 <div class="card card-primary card-block btn-glass drop-target" nv-file-drop uploader="uploader"   drop-files="handleFiles(files)"
 style="border: 2px dashed blue;margin: 5px;" ng-hide="phd.file">
    <div ng-controller="pageslideCtrl" >
                <button class="row btn btn-glass btn-primary img img-rounded " ng-hide="phd.file" style="position:relative;display:flex;display:-webkit-flex;align-items:center;align-content:center;justify-content:space-around;flex-direction:row;" ng-click="toggle()">
        <i class="fa fa-download fa-3x">{{config.appnum}}</i>
        <img src="https://lexlab.firebaseapp.com/img/GoldLogoLong.svg" class="pop img img-rounded pull-right" style="" ng-if="!config.appnum" />
        <!-- <div class="fa fa-download fa-5x pull-right"></div> -->
    </button>
                

    <div pageslide ps-open="checked" ps-key-listener="true" ps-side="left" ps-class="card-dark">
                    <div ng-include="'/getphdwidget/src/phd/step-1.html'"></div>
                    <div ng-include="'/getphdwidget/src/phd/step-2.html'"></div>
                    <upload-q></upload-q>
                </div>
    <div class="row" ng-hide="phd.file">

        <div class="alert alert-danger" role="alert" ng-if="main.error"><strong>Uh oh!</strong> {{main.error}}</div>
        <pre class="alert alert-info" role="alert" ng-if="main.info" style="color:white !important;">{{main.info}}</pre>
    </div>
</div></div>
<div class="card card-fancy card-rounded card-block card-thick" style="text-align: left;color: #444;" ng-if="phd.file">
<button class="alert btn-glass btn-primary img card-rounded row" style="position:relative;display:flex;display:-webkit-flex;align-items:center;align-content:center;justify-content:space-between;flex-direction:row;background-color:#35688F;padding:2px;box-shadow:inset 10px 2px 50px rgba(0,0,0,0.5);border-top-right-radius:6rem;border-bottom-right-radius:6rem;border-left:5px ridge black;" ng-click="main.collapse()">
        <div style="display:flex;justify-content:flex-end;flex-direction:column;align-content:flex-end;vertical-align:middle;align-items:flex-end;">
        <h4 class="card-title ng-binding display-4" style="margin-bottom:0;">US {{phd.patent.number | number:0}}</h4>
        
        <h5 class="card-subtitle lead ng-binding" style="color:#ddd;">USSN {{phd.application[0][1] || config.appnum}}</h5>
        </div>
        <img src="/llp_core/img/GoldLion.svg" class="img" style="width:75px;height: auto;">
        
        <div style="display:flex;flex-direction:column;align-items:flex-start;justify-content:space-around;">
          <img src="/llp_core/img/GoldLogoLong.svg" class="img" style="height:45px;">
  
          <img src="/llp_core/img/GoldPhdLogoLong.svg" class="img" style="height:25px;padding-left:2px;">
        </div>
        
        <!-- <div class="fa fa-download fa-5x pull-right"></div> -->
    </button>

<div collapse="collapsereport">
 
    <tabset class="card">
        <tab class="ngDialogTab">
            <tab-heading class="lead">USSN {{phd.application[0][1]}}</tab-heading>
            <h4 class="card-title pull-right">PTO Meta-Data TSVFiles</h4>
            <tabset>
                <tab class="" ng-repeat="file in phd.file" heading="{{file.label | uppercase}}">
                    <pre class="card card-block card-fancy" ng-bind="file.file"></pre>
                </tab>
            </tabset>
        </tab>
        <tab class="ngDialogTab primary" ng-if="phd.application">
            
            <tab-heading style="" ng-style="" ><span style="color:#ddd;">APPLICATION</span></tab-heading>
            <h4 class="card-title pull-right">Application Data</h4>
            <table class="card card-default card-block table table-striped table-hover table-condensed table-responsive">

                <tbody>
                    <tr ng-repeat="line in phd.application">
                        <td ng-repeat="value in line">{{value}}</td>

                    </tr>
                </tbody>
            </table>
        </tab>
        <tab class="ngDialogTab info" ng-if="phd.attorney">
           
            <tab-heading ng-style="" ><span style="color:#ddd;">ATTORNEY</span></tab-heading>
            <h4 class="card-title pull-right">Attorney Data</h4>
            <table class="card card-default card-block table table-striped table-hover table-condensed table-responsive">

                <tbody>
                    <tr ng-repeat="line in phd.attorney">
                        <td ng-repeat="value in line">{{value}}</td>

                    </tr>
                </tbody>
            </table>
        </tab>
        <tab class="ngDialogTab success" ng-if="phd.continuity">
            
            <tab-heading style="" ng-style=""><span style="color:#ddd;">CONTINUITY</span></tab-heading>
            <h4 class="card-title pull-right">Continuity Data</h4>
            <table class="card card-default card-block table table-striped table-condensed table-hover table-responsive">
                <thead>
                    <tr>
                        <th><strong>Description</strong></th>
                        <th><strong>Parent Filing or 371(c) Date</strong></th>
                        <th><strong>Parent Number</strong></th>
                        <th><strong>Parent Status</strong></th>
                        <th><strong>Patent Number</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="line in phd.continuity">
                        <td>{{::line['Description']}}</td>
                        <td>{{::line['Parent Filing or 371(c) Date']}}
                        <td>{{::line['Parent Number']}}</td>
                        <td>{{::line['Parent Status']}}</td>
                        <td><a ng-href="https://patentimages.storage.googleapis.com/pdfs/US{{::line['Patent Number'].replace(',','').replace(',','')}}.pdf" target="_blank">{{::line['Patent Number']}}</td>
                    </tr>
                </tbody>
            </table>
        </tab>
        <tab class="ngDialogTab warning" ng-if="phd.foreign">

            <!-- <pre ng-bind="main.phd.foreign | json:4"></pre> -->
            <tab-heading style="" ng-style=""><span style="color:#ddd;">FOREIGN PRIORITY</span></tab-heading>
            <h4 class="card-title pull-right">Foreign Priority</h4>
            <table class="card card-default card-block table table-striped table-condensed table-hover table-responsive">
                <thead>
                    <tr>
                        <th><strong>Country</strong></th>
                        <th><strong>Priority</strong></th>
                        <th><strong>Priority Date</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="p in phd.foreign">
                        <td ng-bind="p['Country']"></td>
                        <td ng-bind="p['Priority']"></td>
                        <td ng-bind="p['Priority Date'] | date"></td>

                    </tr>
                </tbody>
            </table>
        </tab>
        <tab class="ngDialogTab danger" ng-if="phd.transaction">
            <!-- <pre ng-bind="main.transaction | json:4"></pre> -->
            <tab-heading style="" ng-style=""><span style="color:#ddd;">TRANSACTION</span></tab-heading>
            <h4 class="card-title pull-right">Transaction Data</h4>
            <table class="card card-default card-block table table-striped table-hover table-condensed table-responsive">
                <thead>
                    <tr>
                        <th><strong>Date</strong></th>
                        <th><strong>Transaction Description</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="trans in phd.transaction">
                        <td>{{::trans['Date']}}</td>
                        <td>{{::trans['Transaction Description']}}</td>
                    </tr>
                </tbody>
            </table>
        </tab>
        <tab class="ngDialogTab" ng-if="phd.imagefile">
            <tab-heading ng-style="">I F W</tab-heading>
            <h4 class="card-title pull-right">Image File Wrapper</h4>
            <input type="text" ng-model="main.query" placeholder="search..." class="pull-right">

            <table class="card card-default card-block table table-hover table-condensed table-responsive">
                <thead>

                    <tr>
                        <!--<th ng-click="reverse = !reverse" class="fa " ng-class="{'fa-chevron-up': reverse,'fa-chevron-down': !reverse}">#</th>-->
                        <th><strong>Mail Room Date</strong></th>
                        <th><strong>Document Code</strong></th>
                        <th><strong>Document Description</strong></th>
                        <th><strong>Document Category</strong></th>
                        <th><strong>Page Count</strong></th>
                        <th><strong>Filename</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="roarevent in phd.imagefile |filter: main.query " class="">
                        <!--<th class=""> <a ng-click="pdfToPlainText(roarevent['Filename'])" getpdftext><i class="fa fa-file-pdf"> {{$index}}</i></a></th>-->
                        <td ng-bind="roarevent['Mail Room Date']"></td>
                        <td ng-bind="roarevent['Document Code']"></td>
                        <td ng-bind="roarevent['Document Description']"></td>
                        <td ng-bind="roarevent['Document Category']"></td>
                        <td ng-bind="roarevent['Page Count']"></td>
                        <td ng-bind="roarevent['Filename']"></td>




                    </tr>
                </tbody>
            </table>
        </tab>
        <tab class="ngDialogTab {{collection.styleClass}}" ng-repeat="collection in phd.roarmap.collections" collection="{{collection}}">
            <tab-heading class="" style="" ng-style="" style="color:#ddd;"><i class="fa {{collection.icon}}"></i>{{collection.rid}}</tab-heading>
            <h4 class="card-title pull-right fa {{collection.icon}}">{{collection.rid}}</h4>
            <div style="width: 100%;" class="reventlist">
                <roar-event ng-repeat="event in collection.roarlist" id="{{event.id || event}}" style="width:19.5%;"></roar-event>
            </div>

        </tab>
        <tab class="ngDialogTab">
            <tab-heading>ROAR
                <label class="label label-info label-pill">{{phd.imagefile.length}}</label>
            </tab-heading>
            
            <tabset vertical="true" type="pills">
                <tab ng-repeat="roarevent in phd.roarmap.roarevents" select="event = roarevent">
                <tab-heading><roar-chip id="{{roarevent.id || roarevent}}"></roar-chip></tab-heading>
                <div class="row">
                    <iframe src="{{event.media}}" class="card card-block card-fancy" style="width:48%;"></iframe>
                    <iframe src="{{event.txt}}" class="card card-block card-fancy" style="width: 48%"></iframe>
                  </div>
                </tab>
                
          </tabset>
            
        </tab>
        
        <tab class="ngDialogTab">
           <tab-heading class="lead" ng-style="">US {{phd.patent.number | number:0}}</tab-heading>
            <iframe src="{{phd.patent.media}}" class="card card-fancy col-sm-5" style="min-height:500px;"></iframe>
            <iframe src="{{phd.patent.txt}}" class="card card-fancy col-sm-5" style="min-height:500px;"></iframe>
            <!--<tabset>
                <tab heading=".pdf">
            <div filepicker-preview url="phd.patent.media" style="width:100%; height:400px"></div>
           </tab>
           <tab heading=".html">
            <div filepicker-preview url="phd.patent.srcdoc" style="width:100%; height:400px"></div>
           </tab>
           <tab heading="gtxt">
            <div filepicker-preview url="phd.patent.googlepagetext" style="width:100%; height:400px"></div>
           </tab>
           <tab heading=".txt">
                <div filepicker-preview url="phd.patent.txt" style="width:100%; height:400px"></div>
               </tab>
           </tabset>-->
           </tab> 
    </tabset>
</div>
</div>
