
<div ng-controller="MainCtrl as main" >
<!--<div class="alert alert-info" ng-if="notconfigured()">Please configure the +getphd widget</div>-->
<!--<div ng-if="configured()" ng-bind-html="main.content"></div>-->
<!--<button class="btn btn-glass fa fa-print" ng-click="publish(phd)" style="position:absolute;top:-1rem;right:1rem;z-index:1000;" ></button>-->
 
 <div class="card card-primary card-block btn-glass drop-target" nv-file-drop uploader="uploader"   drop-files="handleFiles(files)"
 style="border: 2px dashed blue;margin: 5px;" ng-if="main.showupload" >
    <div ng-controller="pageslideCtrl" >
                <button class="row btn btn-glass btn-primary img img-rounded " style="width:100%;position:relative;display:flex;display:-webkit-flex;align-items:center;align-content:stetch;justify-content:center;flex-direction:row;" ng-click="main.toggle()" ng-class="{'btn-success': (main.progress == 100),'btn-danger':(main.progress === 'failed')}">
        <uib-progressbar class="btn-glass fa fa-3x active stripped" ng-class="{'active':(main.progress < 100)}" ng-if="main.progress" value="main.progress" style="height:40px;margin:auto;position:relative;display:flex;display:-webkit-flex;align-items:center;align-content:stetch;justify-content:stretch;flex-direction:row;align-self:stretch;" type="{{main.progresstype}}" > </uib-progressbar><i class="fa fa-upload fa-3x">{{main.progress}}<span ng-show="main.progress">%</span></i>
        <img src="https://lexlab.firebaseapp.com/img/GoldLogoLong.svg" class="pop img img-rounded pull-right" style="max-height:100px;" ng-if="!main.progress" />
        <!-- <div class="fa fa-download fa-5x pull-right"></div> -->
    </button>
           <div class="row btn btn-glass btn-info" style="position:relative;display:flex;display:-webkit-flex;align-items:center;align-content:stetch;justify-content:center;flex-direction:row;" ng-if="main.progresstwo">
             <uib-progressbar class="btn-glass fa fa-3x active striped" ng-class="{'active':(main.progresstwo < 100)}" value="main.progresstwo" max="main.extractedfiles" style="height:40px;margin:auto;position:relative;display:flex;display:-webkit-flex;align-items:center;align-content:stetch;justify-content:stretch;flex-direction:row;align-self:stretch;" type="{{main.progresstype}}" > </uib-progressbar><i class="fa fa-fw fa-3x fa-spinner fa-spin"></i><i class="fa fa-3x">{{main.progresstwo}}/{{main.extractedfiles}}</i>
             
           </div>

    <div pageslide ps-open="main.checked" ps-key-listener="true" ps-side="{{main.side || 'left'}}" ps-class="{{main.styleClass || 'card-dark btn-glass'}}" ps-size="{{main.size || '400'}}" ps-class="{{main.styleClass || 'card-dark btn-glass'}}" ps-size="{{main.size || '400px'}}" style="overflow-x:visible;overflow-y:scroll;">
                   
                    <div ng-include="'/getphdwidget/src/phd/step-1.html'"></div>
                                   <hr>  
                   <!--<div ng-include="'/getphdwidget/src/phd/step-2.html'"></div>-->
                    <!--<upload-q></upload-q>-->
                </div>
    <!--<div class="row" ng-hide="phd.file">-->

        <!--<div class="alert alert-danger" role="alert" ng-if="main.error"><strong>Uh oh!</strong> {{main.error}}</div>-->
        <!--<pre class="alert alert-info" role="alert" ng-if="main.info" style="color:white !important;">{{main.info}}</pre>-->
    <!--</div>-->
</div></div>
<div class="card card-fancy card-rounded card-block card-thick" style="text-align: left;color: #444;" ng-if="phd.file">
<button class="alert btn-glass btn-primary img card-rounded row" style="position:relative;display:flex;display:-webkit-flex;align-items:center;align-content:center;justify-content:space-between;flex-direction:row;background-color:#35688F;padding:2px;box-shadow:inset 10px 2px 50px rgba(0,0,0,0.5);" ng-click="main.collapse()">
        <div style="display:flex;justify-content:flex-end;flex-direction:column;align-content:flex-end;vertical-align:middle;align-items:flex-end;">
        <h4 class="card-title ng-binding display-4" style="margin-bottom:0;color: #fff;">US {{phd.patent.number | number:0  }}</h4>
        
        <h5 class="card-subtitle  ng-binding" style="color:#ddd;"><span class="lead">USSN {{phd.application['Application Number']}}</span></h5>
        </div>
        <img src="/llp_core/img/GoldLion.svg" class="img lionlogofilter" style="width:75px;height: auto;">
        
        <div style="display:flex;flex-direction:column;align-items:flex-start;justify-content:space-around;">
          <img src="/llp_core/img/GoldLogoLong.svg" class="img" style="height:45px;">
  
          <img src="/llp_core/img/GoldPhdLogoLong.svg" class="img" style="height:25px;padding-left:2px;">
        </div>
        
        <!-- <div class="fa fa-download fa-5x pull-right"></div> -->
    </button>

<div uib-collapse="collapsereport" class="card clearfix" style="padding:0;margin:0;">
 <blockquote class="bs-callout bs-callout-NOA" style="margin: 0;" ><h4>{{phd.application['Title of Invention']}}</h4><p style="font-size:10px;"><cite>{{phd.application['First Named Inventor']}} <small><emphasis>Issued&nbsp&nbsp&nbsp&nbsp<span editable-text="phd.application['Issue Date of Patent']" >{{phd.application['Issue Date of Patent']}}</span></emphasis></small></cite></p></blockquote>
 
 
 
 
 <uib-tabset class="tabbable" justified="true" type="pills">
   <uib-tab  active="main.tabs[0].isActive" disabled="main.tabs[0].disabled" select="main.tabs[0].isActive = true" deselect="main.tabs[0].isActive = false" style="margin: 0 5px;">
    <uib-tab-heading class=" text-Petition">PTO Metadata</uib-tab-heading>
    <uib-tab-content ng-if="main.tabs[0].isActive">
    
    <uib-tabset class="tabbable tabs-left" >
           <uib-tab class="">
            <!--<h4 class="card-heading card-title pull-right">PTO Metadata TSVFiles</h4>-->
           <uib-tab-heading class="">USSN {{phd.application['Application Number']}}</uib-tab-heading>
            <uib-tabset class="tabbable">
                <uib-tab class="" ng-repeat="file in phd.file" heading="{{file.label | uppercase}}">
                   <uib-tab-content>  
                     <!--<ng-annotate-text text="file.file" class="card card-block card-fancy" style="padding: 1rem;border-radius: 0.2rem;font-family: 'Arial',sans-serif;" annotations="phd.annotations" readonly="false" popup-controller="'AnnotationController'" popup-template-url="'/llp_core/modules/roarmap/partial/roarmap.detail.tpl/roarmap.annotation.tpl.html'"
    tooltip-controller="'AnnotationController'" tooltip-template-url="'/llp_core/modules/roarmap/partial/roarmap.detail.tpl/roarmap.annotation-tooltip.tpl.html'" on-annotate="onAnnotate" on-annotate-delete="onAnnotateDelete" on-annotate-error="onAnnotateError"
    on-popup-show="onPopupShow" on-popup-hide="onPopupHide" popup-offset="50">-->
       <pre class="card card-block card-fancy" ng-bind="file.file"></pre>
    <!--</ng-annotate-text>-->
    </uib-tab-content>
                </uib-tab>
            </uib-tabset>
        </uib-tab>
        
        <uib-tab class="" ng-if="phd.application">
            
            <uib-tab-heading class="" style="" ng-style="" >APPLICATION</uib-tab-heading>
            <!--<h4 class="card-header card-title pull-right">Application Data</h4>-->
            <uib-tab-content>
            <table class="card card-block table table-striped table-hover table-condensed table-responsive">

                <tbody>
                    <tr ng-repeat="(key, value) in phd.application">
                        <td><strong>{{::key}}</strong></td>
                        <td >{{::value}}</td>

                    </tr>
                </tbody>
            </table>
            </uib-tab-content>
        </uib-tab>
        <uib-tab class="text-info" ng-if="phd.attorney">
           
            <uib-tab-heading class="" ng-style="" >ATTORNEY</uib-tab-heading>
            <!--<h4 class="card-header card-title pull-right">Attorney Data</h4>-->
            <uib-tab-content>
            <table class="card card-block table table-striped table-hover table-condensed table-responsive">

                <tbody>
                    <tr ng-repeat="(key, line) in phd.attorney">
                        <td ng-repeat="(key, value) in line">{{::value}}</td>

                    </tr>
                </tbody>
            </table>
            </uib-tab-content>
        </uib-tab>
        <uib-tab class="text-success" ng-if="phd.continuity">
            
            <uib-tab-heading class="" style="" ng-style="">CONTINUITY</uib-tab-heading>
            <!--<h4 class="card-header card-title pull-right">Continuity Data</h4>-->
            <uib-tab-content>
            <table class="card  card-block table table-striped table-condensed table-hover table-responsive">
                <!--<thead>
                    <tr>
                        <th><strong>Description</strong></th>
                        <th><strong>Parent Filing or 371(c) Date</strong></th>
                        <th><strong>Parent Number</strong></th>
                        <th><strong>Parent Status</strong></th>
                        <th><strong>Patent Number</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="line in phd.continuity">
                        <td>{{::line['Description']}}</td>
                        <td>{{::line['Parent Filing or 371(c) Date']}}</td>
                        <td>{{::line['Parent Number']}}</td>
                        <td>{{::line['Parent Status']}}</td>
                        <td><a ng-href="https://patentimages.storage.googleapis.com/pdfs/US{{::line['Patent Number'].replace(',','').replace(',','')+'.pdf'}}" target="_blank" ng-if="line['Patent Number'] !== ''">{{::line['Patent Number']}}</a></td>
                    </tr>
                </tbody>-->
                <tbody>
                    <tr ng-repeat="(key,line) in phd.continuity">
                        <td ng-repeat="(key, value) in line">{{::value}}</td>

                    </tr>
                </tbody>
            </table>
            </uib-tab-content>
        </uib-tab>
        <uib-tab class="" ng-if="phd.foreign">

            <!-- <pre ng-bind="main.phd.foreign | json:4"></pre> -->
            <uib-tab-heading class="text-warning" style="" ng-style="">FOREIGN PRIORITY</uib-tab-heading>
            <!--<h4 class="card-header card-title pull-right">Foreign Priority</h4>-->
            <uib-tab-content>
            <table class=" table table-stripped table-condensed table-hover table-responsive">
                <thead>
                    <tr>
                        <th><strong>Country</strong></th>
                        <th><strong>Priority</strong></th>
                        <th><strong>Priority Date</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="p in phd.foreign">
                        <td ng-bind="::p['Country']"></td>
                        <td ng-bind="::p['Priority']"></td>
                        <td ng-bind="::p['Priority Date'] | date"></td>

                    </tr>
                </tbody>
            </table>
            </uib-tab-content>
        </uib-tab>
        <uib-tab class="" ng-if="phd.term">
            <uib-tab-heading>PATENT TERM ADJUSTMENTS</uib-tab-heading>
            <uib-tab-content>
                <table class="card card-block table table-striped table-hover table-condensed table-responsive">

                <tbody>
                    <tr ng-repeat="(key, line) in phd.term">
                        <td ng-repeat="(key,value) in line">{{::value}}</td>

                    </tr>
                </tbody>
            </table>
            </uib-tab-content>
            </uib-tab>
        <uib-tab class="" ng-if="phd.transaction">
            <!-- <pre ng-bind="main.transaction | json:4"></pre> -->
            <uib-tab-heading class=""style="" ng-style="">TRANSACTION</uib-tab-heading>
            <!--<h4 class="card-header card-title pull-right">Transaction Data</h4>-->
            <uib-tab-content>
            <table class="table table-striped table-hover table-condensed table-responsive">
                <thead>
                    <tr>
                        <th><strong>Date</strong></th>
                        <th><strong>Transaction Description</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="trans in phd.transaction">
                        <td>{{::trans['Date']}}</td>
                        <td>{{::trans['Transaction Description']}}</td>
                    </tr>
                </tbody>
            </table>
            </uib-tab-content>
        </uib-tab>
        <uib-tab class="" ng-if="phd.imagefile">
            <uib-tab-heading ng-style="">IMAGE FILE WRAPPER</uib-tab-heading>
            <!--<h4 class="card-header card-title pull-right">Image File Wrapper</h4>-->
           <uib-tab-content>
            <input type="text" ng-model="main.query" placeholder="search..." class="pull-right">

            <table class=" table table-hover table-condensed table-responsive">
                <thead>

                    <tr>
                        <!--<th ng-click="reverse = !reverse" class="fa " ng-class="{'fa-chevron-up': reverse,'fa-chevron-down': !reverse}">#</th>-->
                        <th ng-click="main.dog = 'Mail\ Room\ Date'; maybe = !maybe"><strong>Mail Room Date<i class="fa" ng-if="main.dog == 'Mail Room Date'" ng-class="{'fa-chevron-up':maybe,'fa-chevron-down': !maybe}"></i></strong></th>
                        <th ng-click="main.dog = 'Document\ Code'; maybe = !maybe"><strong>Document Code<i class="fa" ng-if="main.dog == 'Document Code'" ng-class="{'fa-chevron-up':maybe,'fa-chevron-down': !maybe}"></i></strong></th>
                        <th ng-click="main.dog = 'Document\ Description'; maybe = !maybe"><strong>Document Description<i class="fa" ng-if="main.dog == 'Document Description'" ng-class="{'fa-chevron-up':maybe,'fa-chevron-down': !maybe}"></i></strong></th>
                        <th ng-click="main.dog = 'Document\ Category'; maybe = !maybe"><strong>Document Category<i class="fa" ng-if="main.dog ==  'Document Category'" ng-class="{'fa-chevron-up':maybe,'fa-chevron-down': !maybe}"></i></strong></th>
                        <th ng-click="main.dog = 'Page\ Count'; maybe = !maybe"><strong>Page Count<i class="fa" ng-if="main.dog == 'Page Count'" ng-class="{'fa-chevron-up':maybe,'fa-chevron-down': !maybe}"></i></strong></th>
                        <th ng-click="main.dog = 'Filename'; maybe = !maybe"><strong>Filename<i class="fa" ng-if="main.dog == 'Filename'" ng-class="{'fa-chevron-up':maybe,'fa-chevron-down': !maybe}"></i></strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="roarevent in phd.imagefile | filter: main.query | orderBy: main.dog : maybe" class="">
                        <!--<th class=""> <a ng-click="pdfToPlainText(roarevent['Filename'])" getpdftext><i class="fa fa-file-pdf"> {{$index}}</i></a></th>-->
                        <td ng-bind="roarevent['Mail Room Date']"></td>
                        <td ng-bind="roarevent['Document Code']"></td>
                        <td ng-bind="roarevent['Document Description']"></td>
                        <td ng-bind="roarevent['Document Category']"></td>
                        <td ng-bind="roarevent['Page Count']"></td>
                        <td><a ng-click="main.popdoc(roarevent)" >{{roarevent['Filename']}}</a></td>
                        <!--<td ><a ng-href="https://lexlab.io/files/public/uspto/{{phd.appnum}}/{{phd.appnum}}-image_file_wrapper/{{roarevent['Filename']}}" target="_popup" onclick="window.open(this.href, '', 'resizable=yes,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=yes,dependent=yes,width=500,left=150,height=700,top=150'); return false;">{{roarevent['Filename']}}</a></td>-->




                    </tr>
                </tbody>
            </table>
           </uib-tab-content>
        </uib-tab>
        
      </uib-tabset>
    </uib-tab-content>
    
   </uib-tab>
   <!--<uib-tab heading="PhD Report" active="main.tabs[1].isActive" disable="main.tabs[1].disabled" select="main.tabs[1].isActive = true" deselect="main.tabs[1].isActive = false">
      <uib-tab-content ng-if="main.tabs[1].isActive">
      <uib-tabset class="tabbable " justified="true">
        <uib-tab class="ngDialogTab text-{{collection.styleClass}} " ng-repeat="(key,tab) in phd.roarlist" collection="{{key || tab}}" active="tab.active" select="tab.active = true;" deselect="tab.active = false;">
            <uib-tab-heading class="pull-right" style="" ng-style="">{{collection.rid}}&nbsp&nbsp<i class=" fa {{collection.icon}} label label-{{collection.styleClass}} label-pill">{{collection.roarlist.length}}</i></uib-tab-heading>
            <uib-tab-content ng-if="tab.active">
            <h4 class="card-title pull-right fa {{collection.icon}}">{{collection.rid}}</h4>
            <div style="width: 100%;" class="reventlist">
                <roar-event ng-repeat="event in collection.roarlist" id="{{event.id || event}}" style="width:19.5%;"></roar-event>
            </div>
            </uib-tab-content>
        </uib-tab>
        <uib-tab class="ngDialogTab text-info" >
            <uib-tab-heading class="">ROAR
                <label class="label label-info label-pill pull-right">{{phd.imagefile.length}}</label>
            </uib-tab-heading>
           
            <uib-tabset class="tabbable tabs-left">
                <uib-tab ng-repeat="(key, roarevent) in phd.imagefile" node="{{roarevent.id || roarevent}}" select="node.isActive = true" deselect="node.isActive = false" active="node.isActive">
                <uib-tab-heading style="max-width:14%;transform:scale(0.75);">
                  <div id="" uib-dropdown uib-keyboard-nav dropdown-append-to-body >
                        <a uib-dropdown-toggle class=" fa {{rightmenu.icon}}"  ></a>
                           <ul class="uib-dropdown-menu">
                               <li class="{{menuitem.styleClass}}" ng-repeat="menuitem in rightmenu.items">
                                   <a ng-click="menuitem.onClick(dashb)" class="fa {{menuitem.icon}} {{menuitem.styleClass}}">&nbsp;&nbsp;&nbsp;&nbsp;{{menuitem.label}}</a>
                                </li>
                            <li><div uib-dropdown uib-keyboard-nav dropdown-append-to-body>
                       <a uib-dropdown-toggle   >Paste from Clipboard&nbsp;&nbsp;&nbsp;&nbsp;<i class=" fa fa-chevron-right"></i></a>
                           <ul ng-controller="ClipboardMenuController as cmc" class="uib-dropdown-menu dropdown-menu-right">
  
   <li class="" ng-repeat="(key, item) in cmc.clipboard" node="{{item.id || item}}">
   
      <a class="fa fa-external-link" title="popout" ng-click="cmc.popout(item)"> {{node.title | limitTo:25}}</a>
      <a class="fa fa-paste" title="paste reference" ng-click="cmc.paste(item, page)"></a>
      <a class="fa fa-copy" title="create a new copy" ng-click="cmc.fork(item, page)"></a>
  </li>
</ul></div>
                        </li>
                            </ul>
                        </div>
                  <roar-chip id="{{node.id || node}}" class="" ></roar-chip></uib-tab-heading>
                <!--<div style="max-width:75%;" class="pull-right">-->
                    <!--<iframe ng-src="{{node.media}}" class="card card-block card-fancy pull-right" style="width:45%;" ng-if="node.isActive"></iframe>-->
                    <!--<iframe ng-src="{{node.txt}}" class="card card-block card-fancy pull-right" style="width: 45%;" ng-if="item.active"></iframe>-->
                <!--</div>-->
               <!-- </uib-tab>
                
          </uib-tabset>
            
        </uib-tab>
      </uib-tabset>
      </uib-tab-content>
   </uib-tab>-->
   
        <uib-tab class="btn-glass NOA" active="main.tabs[1].isActive" disable="main.tabs[1].disabled" select="main.tabs[2].isActive = true" deselect="main.tabs[1].isActive = false" style="margin: 0 5px;">
           <uib-tab-heading class="text-NOA" ng-style="">US {{(phd.patent.number | number:0) || (config.IPAYEAR + "&nbsp;/&nbsp;" + config.IPANUM)  }}</uib-tab-heading>
            
            <uib-tab-content ng-if="main.tabs[2].isActive">
                
                <blockquote class="col-sm-8" cite="{{phd.patent.media}}" style="margin: 25px;margin-top:35px;"><h4 ><strong ng-bind="tree.title"> </strong> - <small>{{tree.claim_total}} Claims</small>               
</h4><p ng-bind-html="tree.abstract | highlight: config.query | trustAsHTML"   > </p> 
                
                
                <cite>{{phd.patent.filename}}<a class="fa fa-external-link fa-border" ng-click="main.poppatent(phd.patent)" ></a></cite></blockquote>
                <div class="col-sm-4"><input class="pull-right" ng-model="config.query" type="search" style="margin:10px;" ng-model-options="{updateOn: 'default blur',debounce: {'default':250,'blur':0}}">
                <a style="position:absolute;right:0;" class="btn fa fa-close" ng-click="config.query = null"></a>
                <div class="col-md-3">
            <ul class="list-unstyled">
                <li>
                    <input type="checkbox" ng-model="highlight">
                    <small> Highlight exact matches</small>
                </li>
                <li>
                    <input type="checkbox" ng-model="dim"> <small>Dim non-matches</small>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul class="list-unstyled">
                <li ng-repeat="field in availableFields">
                    <input type="checkbox" ng-click="toggleSupport(field)" ng-checked="supportedFields.indexOf(field) > -1">
                    <small>Match <code>{{ field }}</code></small>
                </li>
            </ul>
        </div>
                </div>
                <div class="row showscroll" style="margin: 5px 5px;overflow-x:scroll;">
                    <a ng-repeat="link in tree.drawings"  ng-click="main.pop(link)"  class="btn" style="margin:2px;"><img ng-src="{{tree.thumbnails[$index]}}" class="img img-shadow"/></a>
                    </div>
                
                <div class="col-sm-6">
                <d3pendingtree id="{{phd.patent.number || config.IPAYEAR + config.IPANUM}}" class="{{config.query}}" tree="tree" pattern="{{config.query}}" patent="{{phd.patent.number || config.IPAYEAR + config.IPANUM}}" style="width:100%;height:600px;"></d3pendingtree>
                <!--<d3lib class="d3lib" data="tree.claims"></d3lib>-->
                  <!--<d3pendingtree class="{{config.query}}" tree="treetwo" patent="{{tree.pub}}" style="width:100%;height:600px;"></d3pendingtree>-->
                                    <!--<iframe ng-src="{{phd.patent.media}}" class="well" style="width:100%;height:800px;" name="fframe" id="fframe"></iframe>-->
                
                </div>
                <div class="col-sm-6">
                <div id="info"></div>
              <div ui-tree="treeOptions"  class="card card-block">
                        <ol ui-tree-nodes max-depth="6" ng-model="tree.claims">
                            <li ui-tree-node class="card card-block " ng-repeat="node in tree.claims " ng-include="'claim_renderer.html'" style="padding-right:0rem;padding-bottom:0.1rem;" ng-hide="!treeFilter(node, config.pattern, supportedFields) && !dim"
                        ng-class="{'filtered-out':!treeFilter(node, config.pattern, supportedFields) && dim}"></li>

                        </ol>
                    </div>
                     <script type="text/ng-template" id="claim_renderer.html">
    <div ui-tree-handle class="tree-node tree-node-content">
        <div class="tree-node-content flextoprow " style="position:relative;">
            <a class="btn btn-xs pull-left" data-nodrag ng-click="toggle(this)" ng-if="node.children && (node.children.length > 0)"><span class="fa " ng-class="{'fa-chevron-right': collapsed, 'fa-chevron-down': !collapsed}" style="color:steelblue;transition:all 0.25s ease;"></span></a>
            <input type="text" ng-model="node.text" ng-change="node.$save();" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }" style="padding: 0.5rem;color:#444;"  ng-if="config.editable">
           
            <a class="btn showonhover" data-nodrag ng-if="config.editable" ng-click="remove(this);"><span class="fa fa-close text-danger "></span></a>
            <!--<a class="btn " data-nodrag ng-if="config.editable" ng-click="toc.newsubsection(this)" style=""><span class="fa fa-plus text-success"></span></a>-->
           <div ng-bind-html="node.text | words | highlight: config.query "></div> 
            <!--<a  class="gototarget btn" data-nodrag  ui-sref="{{parentstate}}.righttab({tabid: node.id})" style=""> <span ng-if="!config.editable" class="pull-left">{{node.text}}</span><i style="position:absolute;right:0;">&nbsp;</i></a>-->

        </div>
    </div>
    <ol ui-tree-nodes="" ng-model="node.children" ng-class="{'hidden': collapsed}" style="">
        <li class="card card-block img-shadow"  ng-repeat="node in node.children" ui-tree-node ng-include="'claim_renderer.html'" style="padding-right:0rem;padding-bottom:0.1rem;padding-left:5px;" ng-hide="!treeFilter(node, config.pattern, supportedFields) && !dim"
                        ng-class="{'filtered-out':!treeFilter(node, config.pattern, supportedFields) && dim}">
        </li>
    </ol>
</script>
                </div>
                </div>
                
                <!--ng-class="{'filtered-out':!treeFilter(node, config.query, {supportedFields: ['text'],descendantCollectionField: 'children'})}" -->
           <!--<div class="row">
        <iframe ng-src="{{phd.patent.media}}" class="card card-fancy col-sm-6" style="min-height:600px;"></iframe>
            <!--<iframe ng-src="{{phd.patent.txt}}" class="card card-fancy col-sm-6" style="min-height:500px;"></iframe>
<div class="col-sm-6">           
 <table class=" table table-condensed  table-hover table-responsive">

                <tbody>
                    <tr ng-repeat="(key, value) in phd.application">
                        <td><strong>{{::key}}</strong></td>
                        <td >{{::value}}</td>

                    </tr>
                </tbody>
            </table>
            </div>
            </div>-->
            <!--<ng-annotate-text text="main.text" class="card card-block card-fancy" style="background-color: #fff;padding: 1rem;border-radius: 0.2rem;" annotations="phd.annotations" readonly="false" popup-controller="'AnnotationController'" popup-template-url="'llp_core/modules/roarmap/partial/roarmap.detail.tpl/roarmap.annotation.tpl.html'"
    tooltip-controller="'AnnotationController'" tooltip-template-url="'llp_core/modules/roarmap/partial/roarmap.detail.tpl/roarmap.annotation-tooltip.tpl.html'" on-annotate="onAnnotate" on-annotate-delete="onAnnotateDelete" on-annotate-error="onAnnotateError"
    on-popup-show="onPopupShow" on-popup-hide="onPopupHide" popup-offset="50">
       
    </ng-annotate-text>-->
            
            <!--<tabset>
                <tab heading=".pdf">
            <div filepicker-preview url="phd.patent.media" style="width:100%; height:400px"></div>
           </tab>
           <tab heading=".html">
            <div filepicker-preview url="phd.patent.srcdoc" style="width:100%; height:400px"></div>
           </tab>
           <tab heading="gtxt">
            <div filepicker-preview url="phd.patent.googlepagetext" style="width:100%; height:400px"></div>
           </tab>
           <tab heading=".txt">
                <div filepicker-preview url="phd.patent.txt" style="width:100%; height:400px"></div>
               </tab>
           </tabset>-->
            </uib-tab-content>
           </uib-tab> 
    </uib-tabset>
</div>
</div>
