<div class="container-fluid two-col-right">

  <div class="col-xs-4 card card-{{roarevent.styleClass}}">
    <img dynamic-background background="url({{background(roarevent.styleClass)}})" ng-src="{{roarevent.thumbnail || background(roarevent.styleClass)}}" class="img img-responsive img-shadow" ng-click="poodle = !poodle" />
    <h4>{{roarevent.title}}</h4>
    <p class="card-text">
      <fieldset class="material ">
        <input type="text" placeholder="Search..." ng-model="$parent.$$childHead.$$childHead.$$childTail.query">
        <hr>
        <label>Search this document</label>
      </fieldset>
      <label ng-repeat="match in roarevent.matches track by $index | groupBy: match" class="fa fa-tag"><a ng-click="getRelated(match)">{{match}}</a></label></p>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="(key, p) in roarevent.roarlist" ffbase="{{key}}">
          <a pop ng-href="{{item.media}}" class="fa {{item.icon}} text-{{item.styleClass}}">{{item.title}} <span class="showonhover fa fa-external-link-square"></span></a>
        </li>
      </ul>
    <ul>
      <li class="card img-shadow" ng-repeat="a in annotationsAsFlatList(roarevent.pages) track by $index"
        style="border: 2.5px solid {{a.type}};">
        {{a.data.comment}}
        <span ng-if="a.data.points">
              ({{a.data.points}}
              <ng-pluralize
                  count="a.data.points"
                  when="{'-1': 'point', '1': 'point', 'other': 'points'}"></ng-pluralize>)
            </span>
      </li>
    </ul>
  </div>

  <div class="col-xs-8">
    <div class="bs-callout bs-callout-{{roarevent.styleClass}}">
      <h4>{{roarevent.title}}</h4>
      <p ng-bind="roarevent.description"></p>
      <p ng-if="roardate">Dated {{roarevent.date | date }}</p>
      <cite>{{roarevent.filename || roarevent.$id}}&nbsp;&nbsp;<a pop ng-href="{{roarevent.media}}" target="fframe"><i class="fa fa-external-link"></i></a></cite></div>

    <div data-ng-transclude></div>

  </div>
  <!--<div class="col-xs-4"><img ng-src="{{background}}" class="img img-responsive img-shadow" /></div>-->

</div>
