<div class="container-fluid two-col-right">

                  <div class="col-xs-4 col-sm-3 card card-{{roarevent.styleClass}}">
                      <img ng-src="{{background(roarevent.styleClass)}}" class="img img-responsive img-shadow"/>
                  <h4>{{roarevent.title}}</h4>
                  <p class="card-text">
<fieldset class="material {{roarevent.styleClass}}">
        <input type="text" placeholder="Search..."  ng-model="roarevent.query">
        <hr>
        <label>Search this document</label>
    </fieldset>
                      <label ng-repeat="match in roarevent.matches track by $index" class="fa fa-tag"><a ng-href="#{{$index}}">{{match}}</a></label></p>

                  </div>

        <div class="col-xs-8 col-sm-9">
            <div class="bs-callout bs-callout-{{roarevent.styleClass}}">
                <h4>{{roarevent.title}}</h4>
                <p ng-if="roardate">Dated {{roardate}}</p>
                <cite>{{roarevent.filename}}&nbsp;&nbsp;<a pop href="{{roarevent.media}}" target="fframe"><i class="fa fa-external-link"></i></a></cite></div>
<!--<div matches="matches" getpdftext="{{roarid}}" pdf-data="{{roarevent.ocrlink}}" roarevent="roarevent" class="card card-block"></div>-->
            <div data-ng-transclude></div>

        </div>
        <!--<div class="col-xs-4"><img ng-src="{{background}}" class="img img-responsive img-shadow" /></div>-->
        <div class="col-xs-4 col-sm-3 card pull-left">
            <ul>
        <li class="card img-shadow" ng-repeat="a in annotationsAsFlatList(roarevent.pages) track by $index" style="border: 2.5px solid {{a.type}};">
            {{a.data.comment}}
            <span ng-if="a.data.points">
              ({{a.data.points}}
              <ng-pluralize
                  count="a.data.points"
                  when="{'-1': 'point', '1': 'point', 'other': 'points'}"></ng-pluralize>)
            </span>
        </li>
    </ul>
        </div>
</div>
