<div class="" style="margin:0.5rem;">
    <div class="btn-glass">
        <h6 class="panel-title">+PhD </h6>
    </div>
    <div class="btn-dark">
      <table class="table-responsive">
        <tbody>
         <tr>
           <td> 
        <input type="number" placeholder="Patent #" ng-model="config.PNUM">
           </td>
           <td>
        <a class="btn btn-success fa fa-download" href="http://patentimages.storage.googleapis.com/pdfs/US{{config.PNUM}}.pdf" target="_blank" data-toggle="popover" data-placement="bottom" data-content="DOWNLOAD" data-animation="true" data-trigger="hover" onclick="window.open(this.href, '', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=yes,width=400,left=150,height=30,top=150'); return false;" style="color:white;">
        </a>
           </td>
         </tr>
         <tr>
           <td>
        <input type="number" placeholder="YYYY" ng-model="config.IPAYEAR" maxlength="4" style="width: 5rem;">
           </td>
           <td>
        <input type="number" placeholder="# IPA" ng-model="config.IPANUM" style="width: 8rem;">
           </td>
           <td>
        <a class="btn btn-success" href="http://patentimages.storage.googleapis.com/pdfs/US{{$scope.IPAYEAR}}{{$scope.IPANUM+'.pdf'}}'" target="_blank"  title="DOWNLOAD" 
        style="color:white;" onclick="window.open(this.href, '', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=yes,width=400,left=150,height=300,top=150'); return false;"> Published Application</a>
        </td>
         </tr>
         <tr>
           <td>
              <input type="text" placeholder="Application #" ng-model="config.appnum">
           </td>
           <td>
        <a class="btn btn-warning fa fa-download" href="https://storage.googleapis.com/uspto-pair/applications/{{config.appnum}}.zip" target="_blank" data-toggle="popover" data-placement="bottom" title="DOWNLOAD FROM GOOGLE" data-content="" data-animation="true"
        data-trigger="hover" style="color:white;" onclick="window.open(this.href, '', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=yes,width=400,left=150,height=300,top=150'); return false;" ng-click="main.remotezip(config.appnum, this.href)"> from Google</a>
           </td>
           <td>
        <a class="btn btn-warning fa fa-download" href="https://patents.reedtech.com/downloads/pair/{{config.appnum}}.zip" target="_blank" data-toggle="popover" data-placement="bottom" title="DOWNLOAD FROM REEDTECH" data-content="" data-animation="true" data-trigger="hover"
        style="color:white;" onclick="window.open(this.href, '', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=yes,width=400,left=150,height=300,top=150'); return false;" ng-click="main.remotezip(config.appnum, this.href)"> from ReedTech</a>
        </td>
         </tr>
        </tbody>
      </table>
    </div>
        <!--<button class="btn btn-info fa fa-arrow-right pull-right" ng-dialog="phd-step2.html" ng-dialog-class="ngdialog-theme-inline" ng-dialog-controller="ImagefilewrapperCtrl" ng-dialog-data="{{$scope}}" data-toggle="popover" data-placement="top" data-content="NEXT"
        data-animation="true" data-trigger="hover"></button>-->
     <!--<div ng-controller="pageslideCtrl" class="">

        <a class="tiny button" href="" ng-click="toggle1()">Open sidebar</a>
                <div pageslide ps-open="checked1" ps-key-listener="true" ps-side="left">
                    <div ng-include="'/getphdwidget/src/phd/step-2.html'"></div>
                
                </div>
    </div>-->
</div>
                
</div>