

<div class="card-block" style="display:flex;flex-flow:column nowrap;justify-content:space-around;align-items:center;align-content:center;">
    <blockquote class="card-header bs-callout bs-callout-NOA img-shadow" style="text-align:left;margin:1.5vmin;">
        <h4 class="card-title"style="text-align:left;font-size:12px;"><label for="patentnumber" class="card-text text-muted"><strong>Enter US Patent Number</strong></label></h4>
     <fieldset class="material Applicant" style="max-width:80%;">
        <input type="text" placeholder="Patent #"   ng-model-options="{updateOn:'default blur',debounce:{'default':1000,'blur':0}}" ng-blur="p.remoteconfig(config.PNUM);cupdate(config);" ng-model="config.PNUM">
        <hr>
        <label>Enter a Patent Number</label>

    </fieldset>
            <button class="input-group-addon btn btn-default right "  tooltip-trigger="mouseenter" uib-tooltip="Download Patent" ng-click="p.getnew(config.PNUM);" ng-dblclick="p.getload(config.PNUM)" style=""><span class="text-success fa fa-5x fa-download"></span></button>


</blockquote>

 <blockquote class="card-header bs-callout bs-callout-Petition img-shadow" style="text-align:left;margin:1.5vmin;">
         <h4 class="card-title"style="text-align:left;font-size:12px;"><label for="publishedapplication" class="card-text text-muted"><strong>Enter Year of Publication and Published Application Number</strong></label></h4>

    <div class="input-group">
        <fieldset class="material Petition" style="max-width:33%;">
                <input type="text" placeholder="YYYY" style="" ng-model="config.IPAYEAR" maxlength="4">
                <hr>
                <label>YEAR</label>
        </fieldset>
        <fieldset class="material Petition" style="max-width:50%;">
        <input type="text" placeholder="# PA" style="" ng-model="config.IPANUM" ng-blur="cupdate(config)" >
        <hr>
        <label>NUMBER</label>
        </fieldset>

     <button class="input-group-addon btn btn-default" ng-click="cupdate(config);p.getdata(config.IPAYEAR+config.IPANUM)"><span class="text-warning fa fa-download fa-5x"></span></button>


    </div>

    </blockquote>
</div>

<!--
         </div>
</div>-->
